.idea
.DS_Store
.vscode
.env.testnet
.env.mainnet
generated/serve/*.log
generated/serve/coverage
generated/serve/node_modules
generated/client/*
node_modules
*.log
src/**/*.d.ts
src/**/*.js.map
coverage
genserated/serve/coverage
jest/playwright/*
dist

