[Unit]
Description=Bitcoin Cash Node
After=network.target

[Service]
User=bitcoin
Group=bitcoin

Type=forking
PIDFile=/var/lib/bitcoind/bitcoind.pid
ExecStart=rm -fr /home/bitcoin/.bitcoin/regtest && \
/usr/local/bin/bitcoind -daemon -pid=/var/lib/bitcoind/bitcoind.pid \
-conf=/etc/bitcoin/bitcoin.conf -datadir=/home/bitcoin/.bitcoin \
-regtest \
-rpcbind=127.0.0.1 -rpcallowip=127.0.0.1/24 \ 
-rpcuser=alice -rpcpassword=password

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=fulcrum.service