openapi: 3.0.1
info:
  contact:
    email: hello@mainnet.cash
  description: |
    A developer friendly bitcoin cash wallet api

    This API is currently in *active* development, breaking changes may
    be made prior to official release of version 1.0.0.
  license:
    name: MIT Licence
    url: https://github.com/mainnet-cash/mainnet-js/blob/master/LICENSE
  termsOfService: https://mainnet.cash/terms/
  title: Mainnet Cash
  version: 2.3.16
externalDocs:
  description: Find out more about mainnet-js
  url: https://mainnet.cash
servers:
  - url: https://rest-unstable.mainnet.cash/
    description: unstable service (for development)
  - url: http://localhost:3000/
    description: local development server via `yarn api:serve`
tags:
  - name: contract
    description: Use Cashscript contracts
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/contract/
  - name: contract/escrow
    description: Use a stock escrow contract, with some helpers.
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/contract/escrow/
  - name: faucet
    description: Testnet faucet
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/faucet/
  - name: mine
    description: Mine regtest coins
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/mine/
  - name: util
    description: Stateless convenience utilities
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/util/
  - name: wallet
    description: Interact with wallets
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/
  - name: wallet/bcmr
    description: Interact with BitcoinCash Metadata Registries (BCMR)
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/bcmr
  - name: wallet/signed
    description: Sign and verify messages
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/sign
  - name: wallet/util
    description: Invoke wallet utility functions
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/util
  - name: webhook
    description: Create webhooks
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/webhook/
paths:
  /contract/call:
    post:
      operationId: contractFn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractFnRequest'
            example:
              contractId: >-
                testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1996128042
              action: send
              function: timeout
              to:
                unit: sat
                cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
                value: 2000
              feePerByte: 1
        description: Request a new cashscript contract
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFnResponse'
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Call a method on a contract
      tags:
        - contract
  /contract/create:
    post:
      operationId: createContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractRequest'
        description: Request a new cashscript contract
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a cashscript contract
      tags:
        - contract
  /contract/escrow/create:
    post:
      operationId: createEscrow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowRequest'
        description: Request a new escrow contract from a template
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowResponse'
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create an escrow contract
      tags:
        - contract/escrow
  /contract/escrow/call:
    post:
      operationId: escrowFn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowFnRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFnResponse'
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Finalize an escrow contract
      tags:
        - contract/escrow
  /contract/escrow/info:
    post:
      operationId: escrowInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowInfoRequest'
            example:
              escrowContractId: >-
                escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
        description: >-
          Request parsed information regarding a contract from the
          escrowContractId
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowInfoResponse'
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about an escrow contract from the escrowContractId
      tags:
        - contract/escrow
  /contract/escrow/utxos:
    post:
      operationId: escrowUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowContract'
              example:
                contractId: >-
                  escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: List specific utxos on any escrow contract
      description: >
        Returns all UTXOs that can be spent by the

        contract. Both confirmed and unconfirmed UTXOs are included. The
        endpoint works with contracts generated from templates (i.e. escrow).
      tags:
        - contract/escrow
  /contract/info:
    post:
      operationId: contractInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractInfoRequest'
            example:
              contractId: >-
                contract:testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1996128042
        description: Request parsed information regarding a contract from the contractId
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInfoResponse'
          description: successful operation
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about a contract from the contractId
      tags:
        - contract
  /contract/utxos:
    post:
      operationId: contractUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
              example:
                contractId: >-
                  contract:testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1932794556
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: List specific utxos on any contract
      description: >
        Returns all UTXOs that can be spent by the

        contract. Both confirmed and unconfirmed UTXOs are included. The
        endpoint works with contracts generated from templates (i.e. escrow).
      tags:
        - contract
  /faucet/get_testnet_bch:
    post:
      operationId: getTestnetBch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTestnetBchRequest'
        description: |
          Request to bch faucet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTestnetBchResponse'
          description: Successful operation
        '405':
          content: {}
          description: Invalid input
      summary: |
        Get testnet bch
      tags:
        - faucet
  /faucet/get_addresses:
    post:
      operationId: getAddresses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressesResponse'
          description: Successful operation
        '405':
          content: {}
          description: Invalid input
      summary: |
        Get addresses to return back or donate the testnet bch and tokens
      tags:
        - faucet
  /mine:
    post:
      summary: Mine regtest coins to a specified address
      operationId: mine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MineRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: a list of block hashes
          description: request accepted
        '400':
          content: {}
          description: Invalid Request
      tags:
        - mine
  /util/convert:
    post:
      operationId: convert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertRequest'
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: number
                description: If a unit of account is passed, a plain number is returned.
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: convert between units
      tags:
        - util
  /util/get_addrs_by_xpubkey:
    post:
      operationId: getAddrsByXpubKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAddrsByXpubKeyRequest'
      responses:
        '200':
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/getAddrsByXpubKeyResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: >-
        Derive heristic determined addresses from an extended public key, per
        BIP32
      tags:
        - util
  /util/get_xpubkey_info:
    post:
      operationId: getXpubKeyInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getXpubKeyInfoRequest'
        description: Decode information about an extended public key, per BIP32
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getXpubKeyInfoResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: Decode information about an extended public key, per BIP32
      tags:
        - util
  /wallet/create:
    post:
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletRequest'
        description: Request a new random wallet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: create a new wallet
      tags:
        - wallet
  /wallet/replace_named:
    post:
      operationId: replaceNamed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletReplaceNamedRequest'
        description: Request parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletReplaceNamedResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: >
        Replace (recover) named wallet with a new walletId.

        If wallet with a provided name does not exist yet, it will be creted
        with a `walletId` supplied

        If wallet exists it will be overwritten without exception
      tags:
        - wallet
  /wallet/named_exists:
    post:
      operationId: namedExists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletNamedExistsRequest'
        description: Request parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletNamedExistsResponse'
          description: successful operation
        '405':
          content: {}
          description: Invalid input
      summary: Check if a named wallet already exists
      tags:
        - wallet
  /wallet/info:
    post:
      operationId: info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          The wallet to request information about, in serialized form.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: |
            Information about the wallet network, type, and keys
      summary: Get information about a wallet
      tags:
        - wallet
  /wallet/balance:
    post:
      operationId: balance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceRequest'
        description: |
          Request for a wallet balance
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
            text/plain:
              schema:
                type: number
                description: If a unit of account is passed, a plain number is returned.
          description: successful operation
      summary: Get total balance for wallet
      tags:
        - wallet
  /wallet/get_history:
    post:
      operationId: getHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryRequest'
        description: |
          Request for a wallet history
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
          description: successful operation
      summary: Get a simplified list of transactions related to a wallet
      tags:
        - wallet        
  /wallet/max_amount_to_send:
    post:
      operationId: maxAmountToSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaxAmountToSendRequest'
        description: >-
          get amount that will be spend with a spend max request. If a unit type
          is specified, a numeric value will be returned.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: transaction accepted
        '400':
          content: {}
          description: Invalid Request
        '418':
          content: {}
          description: Invalid network for given address
      summary: Get maximum spendable amount
      tags:
        - wallet
  /wallet/deposit_address:
    post:
      operationId: depositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit address given a wallet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddressResponse'
          description: successful operation
      summary: Get a deposit address in cash address format
      tags:
        - wallet
  /wallet/token_deposit_address:
    post:
      operationId: tokenDepositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a token aware deposit address given a wallet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddressResponse'
          description: successful operation
      summary: Get a token aware deposit address in cash address format
      tags:
        - wallet
  /wallet/deposit_qr:
    post:
      operationId: depositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: >
            A Qr code image data encoded string in the src field suitable for
            inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving cash address as a qrcode
      tags:
        - wallet
  /wallet/token_deposit_qr:
    post:
      operationId: tokenDepositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a token aware deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: >
            A Qr code image data encoded string in the src field suitable for
            inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving token aware cash address as a qrcode
      tags:
        - wallet
  /wallet/send:
    post:
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
        description: place a send request
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: transaction accepted
        '400':
          content: {}
          description: Invalid Request
        '418':
          content: {}
          description: Invalid network for given address
      summary: Send some amount to a given address
      tags:
        - wallet
  /wallet/send_max:
    post:
      operationId: sendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMaxRequest'
        description: Request to send all available funds to a given address
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMaxResponse'
          description: transaction accepted
        '400':
          content: {}
          description: Invalid Request
      summary: Send all available funds to a given address
      tags:
        - wallet
  /wallet/encode_transaction:
    post:
      operationId: encodeTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncodeTransactionRequest'
        description: encode a transaction
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodeTransactionResponse'
          description: transaction accepted
        '400':
          content: {}
          description: Invalid Request
        '418':
          content: {}
          description: Invalid network for given address
      summary: >-
        Encode and sign a transaction given a list of sendRequests, options and
        estimate fees
      tags:
        - wallet
  /wallet/submit_transaction:
    post:
      operationId: submitTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTransactionRequest'
        description: submit an encoded and signed transaction to the network
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTransactionResponse'
          description: transaction accepted
        '400':
          content: {}
          description: Invalid Request
        '418':
          content: {}
          description: Invalid network for given address
      summary: submit an encoded and signed transaction to the network
      tags:
        - wallet
  /wallet/utxo:
    post:
      operationId: utxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request detailed list of unspent transaction outputs
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
      summary: Get detailed information about unspent outputs (utxos)
      tags:
        - wallet
  /wallet/xpubkeys:
    post:
      operationId: xpubkeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XPubKeyRequest'
        description: |
          x
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XPubKeyResponse'
          description: successful operation
      summary: A set of xpubkeys and paths for the wallet.
      tags:
        - wallet
  /wallet/token_genesis:
    post:
      operationId: tokenGenesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGenesisRequest'
        description: |
          Create new cashtoken, both funglible and/or non-fungible (NFT)
          Refer to spec https://github.com/bitjson/cashtokens
          Newly created token identifier can be found in `tokenIds` field.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: successful operation
      summary: Create new token category
      tags:
        - wallet
  /wallet/token_mint:
    post:
      operationId: tokenMint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenMintRequest'
        description: |
          Mint new NFT cashtokens using an existing minting token
          Refer to spec https://github.com/bitjson/cashtokens
          Newly minted tokens will retain the parent's `tokenId`.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: successful operation
      summary: Mint new non-fungible tokens
      tags:
        - wallet
  /wallet/token_burn:
    post:
      operationId: tokenBurn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenBurnRequest'
        description: |
          Perform an explicit token burning by spending a token utxo to an OP_RETURN
          Behaves differently for fungible and non-fungible tokens:
           * NFTs are always "destroyed"
           * FTs' amount is reduced by the amount specified, if 0 FT amount is left and no NFT present, the token is "destroyed"
          Refer to spec https://github.com/bitjson/cashtokens
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: successful operation
      summary: Perform an explicit token burn
      tags:
        - wallet
  /wallet/get_token_utxos:
    post:
      operationId: getTokenUtxos
      requestBody:
        content:
          application/json:
            schema:
              properties:
                walletId:
                  type: string
                  example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
                  description: The walletId to make a request to.
                tokenId:
                  type: string
                  description: tokenId (category) to filter utxos by, if not set will return utxos from all tokens
              required:
                - walletId
              type: object
        description: |
          Get unspent token outputs for the wallet
          will return utxos only for the specified token if `tokenId` provided
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
      summary: Get token utxos
      tags:
        - wallet
  /wallet/get_token_balance:
    post:
      operationId: getTokenBalance
      requestBody:
        content:
          application/json:
            schema:
              properties:
                walletId:
                  type: string
                  example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
                  description: The walletId to make a request to.
                tokenId:
                  type: string
                  description: tokenId to get balance for
              required:
                - walletId
                - tokenId
              type: object
        description: |
          Gets fungible token balance
          for NFT token balance see @ref getNftTokenBalance
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  balance:
                    type: number
                    format: integer
                    description: Fungible token balance
          description: successful operation
      summary: Get fungible token balance
      tags:
        - wallet
  /wallet/get_nft_token_balance:
    post:
      operationId: getNftTokenBalance
      requestBody:
        content:
          application/json:
            schema:
              properties:
                walletId:
                  type: string
                  example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
                  description: The walletId to make a request to.
                tokenId:
                  type: string
                  description: tokenId to get balance for
              required:
                - walletId
                - tokenId
              type: object
        description: |
          Gets non-fungible token (NFT) balance for a particula tokenId
          disregards fungible token balances
          for fungible token balance see @ref getTokenBalance
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  balance:
                    type: number
                    format: integer
                    description: Non-fungible token balance
          description: successful operation
      summary: Get non-fungible token balance
      tags:
        - wallet
  /wallet/get_all_token_balances:
    post:
      operationId: getAllTokenBalances
      requestBody:
        content:
          application/json:
            schema:
              properties:
                walletId:
                  type: string
                  example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
                  description: The walletId to make a request to.
              required:
                - walletId
              type: object
        description: |
          Gets all fungible token balances in this wallet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
          description: successful operation
      summary: Get non-fungible token balance
      tags:
        - wallet
  /wallet/get_all_nft_token_balances:
    post:
      operationId: getAllNftTokenBalances
      requestBody:
        content:
          application/json:
            schema:
              properties:
                walletId:
                  type: string
                  example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
                  description: The walletId to make a request to.
              required:
                - walletId
              type: object
        description: |
          Gets all non-fungible token (NFT) balances in this wallet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
          description: successful operation
      summary: Get non-fungible token balance
      tags:
        - wallet
  /wallet/bcmr/get_registries:
    post:
      operationId: bcmrGetRegistries
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: |
          Get tracked BCMR registries.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
          description: successful operation
      summary: Get tracked BCMR registries
      tags:
        - wallet/bcmr
  /wallet/bcmr/reset_registries:
    post:
      operationId: bcmrResetRegistries
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: |
          Reset tracked BCMR registries, dropping all token info.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      summary: Reset tracked BCMR registries
      tags:
        - wallet/bcmr
  /wallet/bcmr/add_registry:
    post:
      operationId: bcmrAddRegistry
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: |
          Add a BCMR registry to the list of tracked, allowing for token info lookup
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      summary: Add BCMR registry from parameter
      tags:
        - wallet/bcmr
  /wallet/bcmr/add_registry_from_uri:
    post:
      operationId: bcmrAddRegistryFromUri
      requestBody:
        content:
          application/json:
            schema:
              properties:
                uri:
                  type: string
                  description: URI of the registry to fetch from
                contentHash:
                  type: string
                  description: |
                    Hex encoded SHA256 hash of the resource the `uri` parameter points at.
                    If specified, calculates the hash of the data fetched from `uri` and matches it with provided one.
                    Yields an error upon mismatch.
              required:
                - uri
        description: |
          Add a BCMR registry from remote URI to the list of tracked, allowing for token info lookup
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      summary: Reset tracked BCMR registries
      tags:
        - wallet/bcmr
  /wallet/bcmr/add_registry_authchain:
    post:
      operationId: bcmrAddMetadataRegistryAuthChain
      requestBody:
        content:
          application/json:
            schema:
              properties:
                transactionHash:
                  type: string
                  description: Hex encoded transaction hash to lookup
                followToHead:
                  type: boolean
                  description: |
                    Boolean flag to indicate that autchain building should progress to head (most recent registry version) or be stopped at this exact chain element
                  default: true
                rawTx:
                  $ref: '#/components/schemas/ElectrumRawTransaction'
                  description: cached raw transaction obtained previously, spares a Fulcrum call
              allOf:
                - $ref: '#/components/schemas/NetworkEnum'
              required:
                - transactionHash
        description: |
          Add BCMR metadata registry by resolving an authchain, allowing for token info lookup
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthChain'
          description: successful operation
      summary: Add BCMR metadata registry from autchain, returning the built chain
      tags:
        - wallet/bcmr
  /wallet/bcmr/build_authchain:
    post:
      operationId: bcmrBuildAuthChain
      requestBody:
        content:
          application/json:
            schema:
              properties:
                transactionHash:
                  type: string
                  description: Hex encoded transaction hash to lookup
                resolveBase:
                  type: boolean
                  description: boolean flag to indicate that autchain building should resolve and verify elements back to base or be stopped at this exact chain element
                  default: false
                followToHead:
                  type: boolean
                  description: |
                    Boolean flag to indicate that autchain building should progress to head (most recent registry version) or be stopped at this exact chain element
                  default: true
                rawTx:
                  $ref: '#/components/schemas/ElectrumRawTransaction'
                  description: cached raw transaction obtained previously, spares a Fulcrum call
                historyCache:
                  type: array
                  items:
                    $ref: '#/components/schemas/TransactionHistoryItem'
                  description: cached address history to be reused if authchain building proceeds with the same address, spares a flurry of Fulcrum calls
              allOf:
                - $ref: '#/components/schemas/NetworkEnum'
              required:
                - transactionHash
        description: |
          Build an authchain - Zeroth-Descendant Transaction Chain, refer to https://github.com/bitjson/chip-bcmr#zeroth-descendant-transaction-chains
          The authchain in this implementation is specific to resolve to a valid metadata registy
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthChain'
          description: successful operation
      summary: Build a BCMR authchain
      tags:
        - wallet/bcmr
  /wallet/bcmr/get_token_info:
    post:
      operationId: bcmrGetTokenInfo
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tokenId:
                  type: string
                  description: TokenId to lookup
              required:
                - tokenId
        description: |
          Return the token info (the identity snapshot as per BCMR spec)
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  tokenInfo:
                    nullable: true
                    type: object
                    additionalProperties: true
          description: successful operation
      summary: Get token info
      tags:
        - wallet/bcmr
  /wallet/signed/sign:
    post:
      operationId: signedMessageSign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignedMessageRequest'
        description: |
          Sign a message
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedMessageResponse'
          description: successful operation
      summary: Returns the message signature
      tags:
        - wallet/signed
  /wallet/signed/verify:
    post:
      operationId: signedMessageVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignedMessageRequest'
        description: |
          Sign a message
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySignedMessageResponse'
          description: successful operation
      summary: >-
        Returns a boolean indicating whether message was valid for a given
        address
      tags:
        - wallet/signed
  /wallet/util/decode_transaction:
    post:
      operationId: utilDecodeTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilDecodeTransactionRequest'
        description: |
          Request to decode a transaction
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectrumRawTransaction'
          description: successful operation
      summary: >-
        Decode a bitcoin transaction. Accepts both transaction hash or raw
        transaction in hex format.
      tags:
        - wallet/util
  /wallet/util/get_raw_transaction:
    post:
      operationId: utilGetRawTransaction
      requestBody:
        content:
          application/json:
            schema:
              properties:
                txHash:
                  type: string
                  description: Hex encoded transaction hash
                verbose:
                  type: boolean
                  description: If 'verbose' flag is true, will return an object, otherwise - transaction hex
                  default: false
              allOf:
                - $ref: '#/components/schemas/NetworkEnum'
              required:
                - txHash
        description: |
          Request to get raw transaction
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                  - properties:
                      txHex:
                        type: string
                        description: Hex encoded raw transaction
                  - $ref: '#/components/schemas/ElectrumRawTransaction'
          description: successful operation
      summary: >-
        Get bitcoin raw transaction
      tags:
        - wallet/util
  /webhook/watch_address:
    post:
      operationId: watchAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchAddressRequest'
        description: >
          Based on the 'type' parameter the webhook will be triggered to either
          post balance or raw transactions to the 'url':

          - 'transaction:in' for incoming BCH transactions

          - 'transaction:out' for outgoing BCH transactions

          - 'transaction:in,out' both for incoming and outgoing BCH transactions

          - 'balance' will post the object according to 'BalanceResponse' schema
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchAddressResponse'
          description: Successful operation
        '405':
          content: {}
          description: Invalid input
      summary: |
        Create a webhook to watch cashaddress balance and transactions.
      tags:
        - webhook
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    UnitType:
      properties:
        unit:
          description: Unit of account.
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: sat
          type: string
      discriminator:
        propertyName: unit_type
        mapping:
          Utxo: '#/components/schemas/Utxo'
          BalanceRequest: '#/components/schemas/BalanceRequest'
    Utxo:
      properties:
        vout:
          type: number
        txid:
          type: string
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          description: The hash of a transaction
        satoshis:
          type: number
          example: 100
        token:
          type: object
          nullable: true
          properties:
            amount:
              type: number
              description: Fungible token amount to send
            tokenId:
              type: string
              description: >-
                Token unique hexadecimal identifier, also the id of the token
                creation transaction
            capability:
              type: string
              nullable: true
              enum:
                - none
                - mutable
                - minting
              description: Capability of the NFT
            commitment:
              type: string
              nullable: true
              maxLength: 80
              description: Token commitment message, hexadecimal encoded, 40 bytes max length
      required:
        - satoshis
        - txid
        - vout
    BalanceRequest:
      properties:
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: |
            The walletId to get a balance for.
        slpSemiAware:
          type: boolean
          example: true
          default: false
          description: >-
            This flag requires an utxo to have more than 546 sats to be
            spendable and counted in the balance This option is not switched on
            by default
      allOf:
        - $ref: '#/components/schemas/UnitType'
      required:
        - walletId
    HistoryRequest:
      properties:
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: |
            The walletId to get a history for.
        unit:
          description: Unit of account for running balance.
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: sat
          default: sat
          type: string
        start:
          type: number
          description: The first record to return starting from zero
        count:
          type: number
          description: The number of records to return
        collapseChange:
          type: boolean
          example: true
          default: true
          description: >-
            Exclude transactions returned to the wallet as change in response.
      required:
        - walletId
    HistoryResponse:
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionHistoryItem'
    TransactionHistoryItem:
      properties:
        to:
          type: string
          description: cashaddr of the receiving cash address.
        from:
          type: string
          description: cashaddr of the sending cash address.
        unit:
          $ref: '#/components/schemas/UnitType'
        index:
          type: number
          description: the index of the input or output in the transaction
        blockheight:
          type: number
          description: the blockheight of transaction
        txn:
          type: string
          description: The hash of the transaction
        txId:
          type: string
          description: a unique identifier for the sub-transaction
        value:
          type: number
          description: The amount of the transaction, in the unit provided, with respect to the wallet provided.
        fee:
          type: number
          description: The amount paid, if any, by the wallet for the transaction (incoming tranactions are "free")
        balance:
          type: number
          description: A running balance
    SendRequestItem:
      anyOf:
        - description: Send request in array form ['cashadr', 100, 'sats']
          type: array
          items:
            anyOf:
              - type: string
              - type: number
        - description: Send request in object notation
          properties:
            cashaddr:
              type: string
              example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
            value:
              type: number
              example: 100
          allOf:
            - $ref: '#/components/schemas/UnitType'
          required:
            - cashaddr
            - value
            - unit
          type: object
    TokenSendRequest:
      properties:
        cashaddr:
          type: string
          description: Cashaddress to send tokens to
        value:
          type: number
          description: Satoshi value to send alongside with tokens
          default: 1000
        amount:
          type: number
          description: Fungible token amount to send
        tokenId:
          type: string
          description: >-
            Token unique hexadecimal identifier, also the id of the token
            creation transaction
        capability:
          type: string
          enum:
            - none
            - mutable
            - minting
          description: Capability of the NFT
        commitment:
          type: string
          maxLength: 80
          description: Token commitment message, hexadecimal encoded, 40 bytes max length
      required:
        - cashaddr
        - tokenId
      example:
        slpaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        amount: 100
        tokenId: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
      type: object
    TokenGenesisRequest:
      properties:
        walletId:
          type: string
          description: The walletId to make a request to.
        amount:
          type: number
          description: amount of *fungible* tokens to create
        capability:
          type: string
          enum:
            - none
            - mutable
            - minting
          description: Capability of the new NFT
        commitment:
          type: string
          maxLength: 80
          description: Token commitment message, hexadecimal encoded, 40 bytes max length
        cashaddr:
          type: string
          description: Cashaddress to send tokens to
        value:
          type: number
          description: Satoshi value to send alongside with tokens
          default: 1000
        sendRequests:
          description: Single or an array of extra send requests (OP_RETURN, value transfer, etc.) to include in genesis transaction.
          anyOf:
            - $ref: '#/components/schemas/SendRequestItem'
            - $ref: '#/components/schemas/SendRequestArray'
            - $ref: '#/components/schemas/TokenSendRequest'
            - $ref: '#/components/schemas/OpReturnData'
      required:
        - walletId
      type: object
    TokenMintRequest:
      properties:
        walletId:
          type: string
          description: The walletId to make a request to.
        tokenId:
          type: string
          description: >-
            Token unique hexadecimal identifier, also the id of the token
            creation transaction
        requests:
          type: array
          items:
            type: object
            properties:
              capability:
                type: string
                enum:
                  - none
                  - mutable
                  - minting
                description: Capability of the new NFT
              commitment:
                type: string
                maxLength: 80
                description: Token commitment message, hexadecimal encoded, 40 bytes max length
              cashaddr:
                type: string
                description: Cashaddress to send tokens to
              value:
                type: number
                description: Satoshi value to send alongside with tokens
                default: 1000
        deductTokenAmount:
          type: boolean
          description: if minting token contains fungible amount, deduct from it by amount of minted tokens
          default: false
      required:
        - walletId
        - tokenId
      type: object
    TokenBurnRequest:
      properties:
        walletId:
          type: string
          description: The walletId to make a request to.
        tokenId:
          type: string
          description: >-
            Token unique hexadecimal identifier, also the id of the token
            creation transaction
        capability:
          type: string
          enum:
            - none
            - mutable
            - minting
          description: Capability of the new NFT
        commitment:
          type: string
          maxLength: 80
          description: Token commitment message, hexadecimal encoded, 40 bytes max length
        amount:
          type: number
          description: amount of fungible tokens to burn
        cashaddr:
          type: string
          description: address to return token and satoshi change to, default to the sender's cashaddr
        message:
          type: string
          description: optional message to include in OP_RETURN
      required:
        - walletId
        - tokenId
      type: object
    OpReturnData:
      anyOf:
        - type: array
          items:
            anyOf:
              - type: string
              - type: string
                format: byte
          description: >-
            OP_RETURN message in format ['OP_RETURN', 'MEMO\x10LÖL😅'] or
            ['OP_RETURNB64', 'TUVNTxBMw5ZM8J+YhQ==']
        - oneOf:
            - properties:
                dataString:
                  type: string
                  example: "MEMO\x10LÖL😅"
              required:
                - dataString
              type: object
            - properties:
                dataBuffer:
                  type: string
                  format: byte
                  example: TUVNTxBMw5ZM8J+YhQ==
              required:
                - dataBuffer
              type: object
          description: >-
            OP_RETURN message in object notation, either in plain text or as a
            base64 encoded byte buffer If buffer lacks the OP_RETURN and
            OP_PUSHDATA opcodes, they will be prepended.
    SendRequestArray:
      type: array
      items:
        anyOf:
          - $ref: '#/components/schemas/SendRequestItem'
          - $ref: '#/components/schemas/TokenSendRequest'
          - $ref: '#/components/schemas/OpReturnData'
    CashscriptReceipt:
      properties:
        to:
          type: string
          example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        amount:
          type: number
          example: 100
    CashscriptReceiptArray:
      type: array
      items:
        $ref: '#/components/schemas/CashscriptReceipt'
    ContractFnRequest:
      properties:
        contractId:
          type: string
          description: |
            serialized contract
        action:
          description: >-
            In addition to `send`ing the built transaction, the built
            transaction hex may be returned (without broadcasting) with `build`
            action, or the [`meep 🔗`](https://github.com/gcash/meep) debugger
            command.
          enum:
            - build
            - send
            - meep
          example: send
          default: send
          type: string
        function:
          description: Function to call on the cashscript contract.
          type: string
        arguments:
          type: array
          description: >
            Arguments for the contract function call as strings.  Binary data
            should be passed as hexidecimal. 

            Signatures may be passed as wallet import format (WIF) or wallet
            strings (walletId). Cashscript expects `pubkey`s to be compressed 35
            byte values.
          items:
            type: string
        to:
          description: >-
            The output destination, as a SendRequest, cashscript style
            output(s), array of either.
          anyOf:
            - $ref: '#/components/schemas/SendRequestItem'
            - $ref: '#/components/schemas/SendRequestArray'
            - $ref: '#/components/schemas/CashscriptReceipt'
            - $ref: '#/components/schemas/CashscriptReceiptArray'
        utxoIds:
          description: Serialized utxoId(s) to spend from
          type: array
          items:
            type: string
            example: >-
              1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
            description: >-
              The hash of a transaction and index of the utxo and amount in
              satoshi
        opReturn:
          description: >
            Add OP_RETURN outputs to the transaction. See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withopreturn)
          type: array
          items:
            type: string
        feePerByte:
          type: number
          description: >
            The withFeePerByte() function allows you to specify the fee per per
            bytes for the transaction. See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withfeeperbyte)
        hardcodedFee:
          type: number
          description: >
            Specify a hardcoded fee to the transaction. By default the
            transaction fee is automatically calculated by the CashScript SDK.
            See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withhardcodedfee)
        minChange:
          description: >
            Set a threshold for including a change output. Any remaining amount
            under this threshold will be added to the transaction fee instead.
            See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withminchange)
          type: number
        withoutChange:
          description: >
            Disable the change output. See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withoutchange)
          type: boolean
          default: false
        age:
          description: >
            Specify the minimum age of the transaction inputs. See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withage)
          type: number
        time:
          description: >
            Specify the minimum block number that the transaction can be
            included in. See [cashscript
            docs](https://cashscript.org/docs/sdk/transactions#withtime)
          type: number
      required:
        - contractId
        - function
        - to
    ContractFnResponse:
      properties:
        contractId:
          type: string
          description: |
            serialized contract
        txId:
          type: string
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          description: The hash of a transaction
        hex:
          type: string
          example: 0200000001f6d804c0a2f33936dd8b535d1... bdf0e43b30135be5251
          description: The transaction as bitcoin encoded hex.
        debug:
          description: >-
            if a debugger action is passed in the request, the result will
            return here.
          example: >
            meep debug
            --tx=0200000001b3f2d1ce4951d104e8244310943c49cd8ea59b437fa5b794197fcffc32cfc28900000000b941b0e8a077ea6d70c757487a14c175c9ed21a5f4f54d0477578ac3bc89da86cbb5567f62eb9b46c49c328f02165a54a577cc4228fd2dd5a5497fc25a638f0205b1412103410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7514c5202d70014a72d8e8dc9ca261e8ffafba96514ee92b0c2bf271456b6b22042b90dd67bf2fbfb9aff7d37fbee11245379009c63557a5579ad547aa97b8777777767537a519d547a5479ad537aa9887cb16d5168feffffff0268420000000000001976a91456b6b22042b90dd67bf2fbfb9aff7d37fbee112488ac720e00000000000017a914d411d850ed6395e6e72a5e0497a54ab99a75b84387d7000000
            --idx=0 --amt=21000
            --pkscript=a914d411d850ed6395e6e72a5e0497a54ab99a75b84387
          type: string
    Error:
      properties:
        message:
          type: string
        code:
          type: number
      example:
        message: An server error occurred
        code: 500
    NetworkEnum:
      properties:
        network:
          description: network type
          enum:
            - mainnet
            - testnet
            - regtest
          example: testnet
          type: string
      discriminator:
        propertyName: network
        mapping: {}
    ContractRequest:
      properties:
        script:
          type: string
          description: |
            The smart contract in cashscript syntax
          example: >
            contract TransferWithTimeout(pubkey sender, pubkey recipient, int
            timeout) {
                function transfer(sig recipientSig) {
                    require(checkSig(recipientSig, recipient));
                }

                function timeout(sig senderSig) {
                    require(checkSig(senderSig, sender));
                    require(tx.time >= timeout);
                }
            }
        parameters:
          description: Parameters to construct the contract
          type: array
          items:
            type: string
            description: >-
              Parameters passed as an array, where binary values are passed as
              hex
          example:
            - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
            - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
            - 215
      allOf:
        - $ref: '#/components/schemas/NetworkEnum'
      required:
        - script
        - parameters
        - network
    ContractResponse:
      properties:
        contractId:
          type: string
          description: |
            serialized contract
          example: >-
            testnet:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok5EZ3dOVE01TWpreg==:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNS4zOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:480539293
        cashaddr:
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          description: The funding address for the contract
    EscrowRequest:
      properties:
        buyerAddr:
          example: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
          description: The cashaddress of the buyer
        arbiterAddr:
          example: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
          description: The cashaddress of the arbiter
        sellerAddr:
          example: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
          description: The cashaddress of the seller
        amount:
          description: >-
            Numeric amount to be transferred by the contract in satoshi, amount
            must be less than 21 BCH.
          type: number
          example: 10000
      required:
        - buyerAddr
        - arbiterAddr
        - sellerAddr
        - amount
    EscrowResponse:
      properties:
        escrowContractId:
          type: string
          description: |
            serialized escrow contract
          example: >-
            escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
        cashaddr:
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          description: The funding address for the escrow contract
    EscrowFnRequest:
      properties:
        escrowContractId:
          type: string
          description: |
            serialized contract
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: |
            The walletId of the transaction signer.
        function:
          description: Function to call on the escrow contract.
          enum:
            - spend
            - refund
          example: spend
          type: string
        to:
          description: Output address for the transaction
          type: string
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        action:
          description: >-
            In addition to `send`ing the built transaction, the built
            transaction hex may be returned (without broadcasting) with `build`
            action, or the [`meep 🔗`](https://github.com/gcash/meep) debugger
            command
          enum:
            - build
            - send
            - meep
        utxoIds:
          type: array
          items:
            type: string
            example: >-
              1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
            description: >-
              The hash of a transaction and index of the utxo and amount in
              satoshi
      required:
        - escrowContractId
        - walletId
        - function
    EscrowInfoRequest:
      properties:
        escrowContractId:
          type: string
          description: |
            serialized escrow contract
    EscrowInfoResponse:
      properties:
        escrowContractId:
          type: string
          description: |
            serialized escrow contract
          example: >-
            escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
        script:
          type: string
          description: |
            The escrow contract in cashscript syntax
          example: >
            pragma cashscript ^0.6.1;

            contract escrow(bytes20 sellerPkh, bytes20 buyerPkh, bytes20
            arbiterPkh, int contractAmount, int contractNonce) {

                function spend(pubkey signingPk, sig s, int amount, int nonce) {
                    require(hash160(signingPk) == arbiterPkh || hash160(signingPk) == buyerPkh);
                    require(checkSig(s, signingPk));
                    require(amount >= contractAmount);
                    require(nonce == contractNonce);
                    bytes34 output = new OutputP2PKH(bytes8(amount), sellerPkh);
                    require(hash256(output) == tx.hashOutputs);
                }

                function refund(pubkey signingPk, sig s, int amount, int nonce) {
                    require(hash160(signingPk) == arbiterPkh||hash160(signingPk) == sellerPkh);
                    require(checkSig(s, signingPk));
                    require(amount >= contractAmount);
                    require(nonce == contractNonce);
                    bytes34 output = new OutputP2PKH(bytes8(amount), buyerPkh);
                    require(hash256(output) == tx.hashOutputs);
                }
            }
        parameters:
          description: Parameters passed when the contract was created
          type: array
          items:
            type: string
            description: >-
              Parameters passed as an array, where binary values are passed as
              hex
          example:
            - 9ef0d8bf4c1f62a68c4c647beb404ec1d458f3c5
            - e7fe7119a6bb73409a087e0ac46cefada815b69f
            - a01c11c6deea905d25b487698f1140e0c53396c8
            - 10000
            - 1996128042
        cashaddr:
          type: string
          example: bchtest:prxla49zwqm8m2nzgn82qza3ssrqnpt8vgv60hlwm2
        buyerAddr:
          example: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
          description: The cashaddress of the buyer
        arbiterAddr:
          example: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
          description: The cashaddress of the arbiter
        sellerAddr:
          example: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
          description: The cashaddress of the seller
        amount:
          description: >-
            Numeric amount to be transferred by the contract in satoshi, amount
            must be less than 21 BCH.
          type: number
          example: 10000
        nonce:
          description: A unique number used once for each instance of a contract.
          type: number
          example: 1996128042
    EscrowContract:
      properties:
        escrowContractId:
          type: string
          description: |
            serialized escrow contract
      required:
        - escrowContractId
    UtxoResponse:
      type: array
      items:
        $ref: '#/components/schemas/Utxo'
    ContractInfoRequest:
      properties:
        contractId:
          type: string
          description: |
            serialized contract
    ContractInfoResponse:
      properties:
        contractId:
          type: string
          description: |
            serialized contract
        script:
          type: string
          description: |
            The smart contract in cashscript syntax
          example: >
            contract TransferWithTimeout(pubkey sender, pubkey recipient, int
            timeout) {
                function transfer(sig recipientSig) {
                    require(checkSig(recipientSig, recipient));
                }

                function timeout(sig senderSig) {
                    require(checkSig(senderSig, sender));
                    require(tx.time >= timeout);
                }
            }
        parameters:
          description: Parameters passed when the contract was created
          type: array
          items:
            type: string
            description: >-
              Parameters passed as an array, where binary values are passed as
              hex
          example:
            - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
            - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
            - 215
        cashaddr:
          type: string
          example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        tokenaddr:
          type: string
          example: bchreg:zpttdv3qg2usm4nm7talhxhl05mlhms3ysjm0q59vu
    Contract:
      properties:
        contractId:
          type: string
          description: |
            serialized contract
      required:
        - contractId
    GetTestnetBchRequest:
      properties:
        cashaddr:
          type: string
          description: Receiver's cashaddr
      example:
        cashaddr: bchtest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq27mxesg8
    GetTestnetBchResponse:
      properties:
        txId:
          type: string
          description: Transaction id
      example:
        txId: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
    GetAddressesResponse:
      properties:
        bchtest:
          type: string
          description: Cashaddr to return testnet BCH
      example:
        bchtest: bchtest:qzxkd5achtj6v46m9vdqv6gj2pvrac5q0qd2qqa2ga
    MineRequest:
      example:
        cashaddr: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        blocks: 105
      properties:
        cashaddr:
          type: string
          example: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        blocks:
          type: number
          description: the number of blocks to mine
          example: 105
    ConvertRequest:
      properties:
        value:
          type: number
          example: 100
        from:
          description: Provided value unit of account.
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: bch
          type: string
        to:
          description: Unit of account to be returned
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: usd
          type: string
      required:
        - value
        - from
        - to
    getAddrsByXpubKeyRequest:
      example:
        xpubkey: >-
          xpub6BosfCnifzxcFwrSzQiqu2DBVTshkCXacvNsWGYJVVhhawA7d4R5WSWGFNbi8Aw6ZRc1brxMyWMzG3DSSSSoekkudhUd9yLb6qx39T9nMdj
        path: 0/0
        count: 3
      properties:
        xpubkey:
          type: string
        path:
          type: string
        count:
          type: number
    getAddrsByXpubKeyResponse:
      example:
        - bitcoincash:qrvcdmgpk73zyfd8pmdl9wnuld36zh9n4gms8s0u59
        - bitcoincash:qp4wzvqu73x22ft4r5tk8tz0aufdz9fescwtpcmhc7
        - bitcoincash:qr0kwqzf2h3wvjjhn4pg895lrxwp96wqgyhkksq2nh
      type: array
      items:
        anyOf:
          - type: string
    getXpubKeyInfoRequest:
      example:
        xpubkey: >-
          xpub6BosfCnifzxcFwrSzQiqu2DBVTshkCXacvNsWGYJVVhhawA7d4R5WSWGFNbi8Aw6ZRc1brxMyWMzG3DSSSSoekkudhUd9yLb6qx39T9nMdj
      properties:
        xpubkey:
          type: string
    getXpubKeyInfoResponse:
      example:
        version: mainnet
        depth: 3
        parentFingerprint: 155bca59
        childNumber: 2147483648,
        chain: 3da4bc190a2680111d31fadfdc905f2a7f6ce77c6f109919116f253d43445219
        data: 03774c910fcf07fa96886ea794f0d5caed9afe30b44b83f7e213bb92930e7df4bd
        fingerprint: 6cc9f252
      properties:
        version:
          type: string
        depth:
          type: number
        parentFingerprint:
          type: string
          description: the first four bytes of the public key as hex
        data:
          type: string
          description: the public key as hex
        chain:
          description: The chain code, 32 bytes of entrophy extended for the public key
    WalletRequest:
      example:
        type: seed
        network: testnet
        name: username1
      properties:
        name:
          description: User defined string for wallet
          example: username1
          type: string
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkEnum'
        - $ref: '#/components/schemas/WalletType'
    WalletType:
      properties:
        type:
          description: >-
            Wallet type, either a mnemonic seed single address wallet, a simple
            private key (wif) or a *Hierarchical Deterministic wallet determined
            from a seed (not yet implemented)* .
          enum:
            - wif
            - hd
            - seed
            - watch
            - privkey
          example: seed
          type: string
      discriminator:
        propertyName: wallet_type
        mapping:
          WalletRequest: '#/components/schemas/WalletRequest'
          WalletReplaceNamedRequest: '#/components/schemas/WalletReplaceNamedRequest'
          WalletNamedExistsRequest: '#/components/schemas/WalletNamedExistsRequest'
    WalletReplaceNamedRequest:
      properties:
        name:
          example: walletName
          type: string
          description: User friendly wallet alias
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: The walletId of the source of funds to spend from.
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkEnum'
        - $ref: '#/components/schemas/WalletType'
    WalletNamedExistsRequest:
      properties:
        name:
          example: walletName
          type: string
          description: User friendly wallet alias
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkEnum'
        - $ref: '#/components/schemas/WalletType'
    Wif:
      properties:
        wif:
          description: |
            The wallet in Wallet Import Format (WIF)
          example: cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
    WalletMnemonic:
      properties:
        seed:
          type: string
        derivationPath:
          type: string
      discriminator:
        propertyName: seed
    WalletResponse:
      properties:
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: >
            All the information necessary to reconstruct a wallet, including
            private information, type and network.
        name:
          description: User defined string for wallet
          example: username1
          type: string
        cashaddr:
          description: |
            The address in cashaddr format.
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
      type: object
      anyOf:
        - $ref: '#/components/schemas/Wif'
        - $ref: '#/components/schemas/WalletMnemonic'
      allOf:
        - $ref: '#/components/schemas/NetworkEnum'
    WalletReplaceNamedResponse:
      type: boolean
      properties:
        result:
          type: boolean
          example: true
      description: |
        True if operation was successful
        False if service database was not configured or other exception occured
    WalletNamedExistsResponse:
      type: boolean
      properties:
        result:
          type: boolean
          example: true
      description: |
        Boolean true or false
    SerializedWallet:
      properties:
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: |
            ID that is returned in `wallet` field of /wallet call
      required:
        - walletId
      discriminator:
        propertyName: walletId
    WalletInfo:
      properties:
        cashaddr:
          type: string
        tokenaddr:
          type: string
        isTestnet:
          description: >-
            Whether the agreed value of the network is zero. True for all
            non-mainnet networks.
          type: boolean
        name:
          type: string
        publicKey:
          type: string
        publicKeyHash:
          type: string
        privateKey:
          type: string
        privateKeyWif:
          type: string
        seed:
          type: string
        derivationPath:
          type: string
        walletId:
          type: string
        walletDbEntry:
          description: The serialized form with private information
          type: string
      allOf:
        - $ref: '#/components/schemas/NetworkEnum'
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys0d2lessf
        tokenaddr: bchreg:zpttdv3qg2usm4nm7talhxhl05mlhms3ysjm0q59vu
        isTestnet: true
        name: ''
        network: testnet
        seed: >-
          empty solar plunge document bridge announce purse erupt joy vague
          illegal angle
        derivationPath: m/44'/0'/0'/0/0
        publicKey: >-
          04410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a72e8d04d8a1634f35a05d6bd59d20c545e165f5d7dd6043fe3e843e7ec547b6df
        publicKeyHash: 56b6b22042b90dd67bf2fbfb9aff7d37fbee1124
        privateKey: 207efc5233effadd4f2df00410526dc4d0ca901ca8f0b7a1e92a42d3baf14e7f
        privateKeyWif: cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        walletId: >-
          wif:testnet:empty solar plunge document bridge announce purse erupt
          joy vague illegal angle:m/44'/0'/0'/0/0
        walletDbEntry: >-
          wif:testnet:empty solar plunge document bridge announce purse erupt
          joy vague illegal angle:m/44'/0'/0'/0/0
    BalanceResponse:
      properties:
        bch:
          type: number
          format: float
          example: 1
          description: Amount in whole Bitcoin Cash
        sat:
          type: integer
          example: 100000000
          description: Amount in satoshis
        usd:
          type: number
          example: 438.02
          description: Amount in United States Dollars
    MaxAmountToSendRequest:
      properties:
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: |
            ID that is returned in `wallet` field of /wallet call
        output_count:
          type: integer
          format: int32
          description: |
            (optional) if sending all funds to multiple addresses, the
            count of the number of address funds will be sent
            to may be included.
        options:
          properties:
            slpSemiAware:
              type: boolean
              example: true
              default: false
              description: >-
                This flag requires an utxo to have more than 546 sats to be
                spendable and counted in the balance This option is not switched
                on by default
      required:
        - walletId
    DepositAddressResponse:
      properties:
        cashaddr:
          type: string
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
    ScalableVectorGraphic:
      properties:
        src:
          type: string
          example: data:image/svg+xml;base64,PD94bWwgdm... ==**
          description: |
            A Qr code image data in svg format as utf-8 encoded string.
            Suitable for inclusion in html using:
                - \<img src\=\"**data:image/svg+xml;base64,PD94bWwgdm... ==**"\>
        title:
          example: bitcoincash:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
          description: hover text for graphic
        alt:
          example: A Bitcoin Cash Qr Code
          type: string
          description: assistive text
    SerializedUtxo:
      type: string
      example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:5000
      description: Serialized unspent outpoint
    SendRequestOptions:
      type: object
      properties:
        utxoIds:
          type: array
          items:
            $ref: '#/components/schemas/SerializedUtxo'
        changeAddress:
          type: string
          example: bchtest:qzd0tv75gx6y0zspzwqpgkwkq0n72g8fsq2zch26s2
          description: |
            Cash address to receive change to
        slpSemiAware:
          type: boolean
          example: true
          default: false
          description: >-
            This flag requires an utxo to have more than 546 sats to be
            spendable and counted in the balance This option is not switched on
            by default
        queryBalance:
          type: boolean
          example: false
          default: true
          description: >-
            A boolean flag to include the wallet balance after the successful
            `send` operation to the returned result If set to false, the balance
            will not be queried and returned, making the `send` call faster
        awaitTransactionPropagation:
          type: boolean
          example: false
          default: true
          description: >-
            A boolean flag to wait for transaction to propagate through the
            network and be registered in the bitcoind and indexer. If set to
            false, the `send` call will be very fast, but the wallet UTXO state
            might be invalid for some 500ms.
        feePaidBy:
          enum:
            - change
            - firstOutput
            - anyOutputs
            - lastOutput
            - changeThenFirst
            - changeThenAny
            - changeThenLast
          default: change
          type: string
          description: >
            Fee allocation stragety. Convenience option to subtract fees from
            outputs if change is not sufficent to cover transaction costs.
              * `change` - Change, pay the fees from change or error
              * `firstOutput` - First Output, pay the fee from the first output or error
              * `lastOutput` - Last Output, pay the fee from the last output or error
              * `anyOutput` - Any Output, pay the fee from dust outputs or divide across all remaining non-dust outputs.
              * `changeThenFirst` - Use change then first output or error.
              * `changeThenLast` - Use change then last output or error.
              * `changeThenAny` - Use change then any output stragety or error.
        checkTokenQuantities:
          type: boolean
          default: true
          description: >
            Check that sum of input amounts and output amount for each token category matches. Prevents accidental burns.
    SendRequest:
      properties:
        walletId:
          type: string
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          description: |
            The walletId of the source of funds to spend from.
        to:
          anyOf:
            - $ref: '#/components/schemas/SendRequestItem'
            - $ref: '#/components/schemas/SendRequestArray'
            - $ref: '#/components/schemas/TokenSendRequest'
            - $ref: '#/components/schemas/OpReturnData'
        options:
          $ref: '#/components/schemas/SendRequestOptions'
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        to:
          unit: sat
          cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
          value: 1000
      type: object
    SendResponse:
      properties:
        txId:
          type: string
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          description: The hash of a transaction
        balance:
          $ref: '#/components/schemas/BalanceResponse'
        explorerUrl:
          type: string
          example: >-
            https://www.blockchain.com/bch-testnet/tx/1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          description: Web url to a transaction on a block explorer
[...]
