openapi: 3.0.1
info:
  contact:
    email: hello@mainnet.cash
  description: |
    A developer friendly bitcoin cash wallet api

    This API is currently in active development, breaking changes may
    be made prior to official release of version 1.

    **Important:** This library is in active development
  license:
    name: MIT Licence
    url: https://github.com/mainnet-cash/mainnet-js/blob/master/LICENSE
  termsOfService: https://mainnet.cash/terms/
  title: Mainnet Cash
  version: 0.2.28
externalDocs:
  description: Find out more about mainnet-js
  url: https://mainnet.cash
servers:
  - url: https://rest-unstable.mainnet.cash/
    description: unstable service (for development)
  - url: http://localhost:3000/
    description: local development server via `yarn api:serve`
tags:
  - name: contract
    description: Use Cashscript contracts
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/contract/
  - name: contract/escrow
    description: Use a stock escrow contract, with some helpers.
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/contract/escrow/      
  - name: faucet
    description: Testnet faucet
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/faucet/
  - name: mine
    description: Mine regtest coins
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/mine/
  - name: util
    description: Stateless convenience utilities
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/util/
  - name: wallet
    description: Interact with wallets
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/
  - name: wallet/slp
    description: Interact with SLP functions of the wallets
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/slp
  - name: webhook
    description: Create webhooks
    externalDocs:
      description: Find out more
      url: https://rest-unstable.mainnet.cash/api-docs/#/webhook/
paths:
  /contract/call:
    post:
      operationId: contractFn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractFnRequest"
        description: Request a new cashscript contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractFnResponse"
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Call a method on a contract
      tags:
        - contract
  /contract/create:
    post:
      operationId: createContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractRequest"
        description: Request a new cashscript contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Create a cashscript contract
      tags:
        - contract
  /contract/escrow/create:
    post:
      operationId: createEscrow
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EscrowRequest"
        description: Request a new escrow contract from a template
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Create an escrow contract
      tags:
        - contract/escrow
  /contract/escrow/call:
    post:
      operationId: escrowFn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EscrowFnRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractFnResponse"
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Finalize an escrow contract
      tags:
        - contract/escrow
  /contract/utxos:
    post:
      operationId: contractUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contract"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UtxoResponse"
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: List specific utxos on any contract
      description: |
        Returns all UTXOs that can be spent by the
        contract. Both confirmed and unconfirmed UTXOs are included. The endpoint works with contracts generated from templates (i.e. escrow).
      tags:
        - contract        
  /faucet/get_testnet_bch:
    post:
      operationId: getTestnetBch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetTestnetBchRequest"
        description: |
          Request to bch faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTestnetBchResponse"
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet bch
      tags:
        - faucet
  /faucet/get_testnet_slp:
    post:
      operationId: getTestnetSlp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetTestnetSlpRequest"
        description: |
          Request to slp faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTestnetSlpResponse"
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet slp tokens
      tags:
        - faucet
  /faucet/get_addresses:
    post:
      operationId: getAddresses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAddressesResponse"
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get addresses to return back or donate the testnet bch and tokens
      tags:
        - faucet     
  /mine:
    post:
      summary: Mine regtest coins to a specified address
      operationId: mine
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MineRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: a list of block hashes
          description: request accepted
        "400":
          content: {}
          description: Invalid Request
      tags:
        - mine
  /util/convert:
    post:
      operationId: convert
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConvertRequest"
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: number
                description: If a unit of account is passed, a plain number is returned.
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: convert between units
      tags:
        - util

  /wallet/create:
    post:
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletRequest"
        description: Request a new random wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: create a new wallet
      tags:
        - wallet
  /wallet/info:
    post:
      operationId: info
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          The wallet to request information about, in serialized form.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletInfo"
          description: |
            Information about the wallet network, type, and keys
      summary: Get information about a wallet
      tags:
        - wallet
  /wallet/balance:
    post:
      operationId: balance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BalanceRequest"
        description: |
          Request for a wallet balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
            text/plain:
              schema:
                type: number
                description: If a unit of account is passed, a plain number is returned.
          description: successful operation
      summary: Get total balance for wallet
      tags:
        - wallet
  /wallet/max_amount_to_send:
    post:
      operationId: maxAmountToSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MaxAmountToSendRequest"
        description: get amount that will be spend with a spend max request. If a unit type is specified, a numeric value will be returned.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Get maximum spendable amount
      tags:
        - wallet
  /wallet/deposit_address:
    post:
      operationId: depositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request for a deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositAddressResponse"
          description: successful operation
      summary: Get a deposit address in cash address format
      tags:
        - wallet
  /wallet/deposit_qr:
    post:
      operationId: depositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request for a deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScalableVectorGraphic"
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving cash address as a qrcode
      tags:
        - wallet
  /wallet/send:
    post:
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRequest"
        description: place a send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendResponse"
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some amount to a given address
      tags:
        - wallet
  /wallet/send_max:
    post:
      operationId: sendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMaxRequest"
        description: Request to all available funds to a given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMaxResponse"
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available funds to a given address
      tags:
        - wallet
  /wallet/utxo:
    post:
      operationId: utxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request detailed list of unspent transaction outputs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UtxoResponse"
          description: successful operation
      summary: Get detailed information about unspent outputs (utxos)
      tags:
        - wallet

  /wallet/slp/genesis:
    post:
      operationId: slpGenesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SlpGenesisRequest"
        description: |
          Request to create a new SLP token (genesis)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpGenesisResponse'
          description: successful operation
      summary: Get created tokenId back and new slp token balance of the wallet
      tags:
        - wallet/slp

  /wallet/slp/mint:
    post:
      operationId: slpMint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SlpMintRequest"
        description: |
          Request to mint more of SLP tokens
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpMintResponse'
          description: successful operation
      summary: Get created tokenId back and new slp token balance of the wallet
      tags:
        - wallet/slp

  /wallet/slp/token_info:
    post:
      operationId: slpTokenInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SlpTokenInfoRequest"
        description: |
          Request to get information about the token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpTokenInfoResponse'
          description: successful operation
      summary: Get information about the token
      tags:
        - wallet/slp

  /wallet/slp/all_balances:
    post:
      operationId: slpAllBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request for a wallet slp balances
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpBalanceArrayResponse'
          description: successful operation
      summary: Get all slp balances of the wallet
      tags:
        - wallet/slp

  /wallet/slp/balance:
    post:
      operationId: slpBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SlpBalanceRequest"
        description: |
          Request for a wallet slp token balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpBalanceResponse'
          description: successful operation
      summary: Get total slp token balance of the wallet
      tags:
        - wallet/slp

  /wallet/slp/deposit_address:
    post:
      operationId: slpDepositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request for an SLP deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlpDepositAddressResponse"
          description: successful operation
      summary: Get an SLP deposit address in cash address format
      tags:
        - wallet/slp
  /wallet/slp/deposit_qr:
    post:
      operationId: slpDepositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request for an SLP deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScalableVectorGraphic"
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get an SLP receiving cash address as a qrcode
      tags:
        - wallet/slp

  /wallet/slp/send:
    post:
      operationId: slpSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SlpSendRequest"
        description: place an SLP send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlpSendResponse"
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some SLP token amount to a given cash address
      tags:
        - wallet/slp

  /wallet/slp/send_max:
    post:
      operationId: slpSendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SlpSendMaxRequest"
        description: Request to send all available SLP funds to a given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlpSendResponse"
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available SLP funds to a given address
      tags:
        - wallet/slp

  /wallet/slp/utxo:
    post:
      operationId: slpUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SerializedWallet"
        description: |
          Request detailed list of unspent SLP transaction outputs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlpUtxoResponse"
          description: successful operation
      summary: Get detailed information about unspent SLP outputs (utxos)
      tags:
        - wallet/slp
  /webhook/watch_address:
    post:
      operationId: watchAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchAddressRequest"
        description: |
          Based on the 'type' parameter the webhook will be triggered to either post balance or raw transactions to the 'url' -
          'transaction:in' for incoming only, 'transaction:out' for outgoing only and 'transaction:in,out' both for incoming and outgoing transactions.
          'balance' will post the object according to 'BalanceResponse' schema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchAddressResponse"
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Create a webhook to watch cashaddress balance and transactions.
      tags:
        - webhook
components:
  schemas:
    Utxo:
      properties:
        index:
          type: number
        txId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f"
          description: The hash of a transaction
        value:
          type: number
          example: 100
        utxoId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0"
          description: serialized outpoint
      allOf:
        - $ref: "#/components/schemas/UnitType"
      required:
        - value
        - txId
        - utxoId
    BalanceRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            The walletId to get a balance for.
      allOf:
        - $ref: "#/components/schemas/UnitType"
      required:
        - walletId
    BalanceResponse:
      properties:
        bch:
          type: number
          format: float
          example: 1
          description: Amount in whole Bitcoin Cash
        sat:
          type: integer
          example: 100000000
          description: Amount in satoshis
        usd:
          type: number
          example: 438.02
          description: Amount in United States Dollars
    Error:
      properties:
        message:
          type: string
        stack:
          type: string
    WatchAddressRequest:
      properties:
        cashaddr:
          type: string
          example: "bchtest:qzd0tv75gx6y0zspzwqpgkwkq0n72g8fsq2zch26s2"
          description: |
            Cash address to watch
        url:
          description:
            Url to be called when configured action is triggered
          type: string
          example: http://example.com/webhook
        type:
          description:
            Type of watch operation
          type: string
          enum:
            - transaction:in
            - transaction:out
            - transaction:in,out
            - balance
          example: transaction:in,out
          default: transaction:in,out
        recurrence:
          description:
            Action recurrence. Indicates if webhook should be triggered recurrently until expire or only once
          type: string
          enum:
            - once
            - recurrent
          example: recurrent
          default: once
        duration_sec:
          description:
            Duration of the webhook lifetime in seconds before it will expire.
          type: number
          example: 86400
          default: 86400
      required:
        - cashaddr
        - url
        - type
    WatchAddressResponse:
      properties:
        id:
          type: number
          format: integer
          example: 1
          description: Webhook Id created in the system
    ZeroBalanceResponse:
      properties:
        bch:
          type: number
          format: float
          example: 0
          description: Amount in whole Bitcoin Cash
        sat:
          type: integer
          example: 0
          description: Amount in satoshis
        usd:
          type: number
          example: 0
          description: Amount in United States Dollars
    Contract:
      properties:
        contractId:
          type: string
          description:  |
            serialized contract
      required:
        - contractId
    EscrowRequest:
      properties:
        buyerAddr:
          example: "bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah"
          description: The cashaddress of the buyer
        arbiterAddr:
          example: "bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt"
          description: The cashaddress of the arbiter
        sellerAddr:
          example: "bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2"
          description: The cashaddress of the seller
        amount:
          description: Numeric amount to be transferred by the contract in satoshi, amount must be less than 21 BCH.
          type: number
          example: 10000
      required:
        - buyerAddr
        - arbiterAddr
        - sellerAddr
        - amount
    ContractRequest:
      properties:
          script:
              type: string
              description:  |
                The smart contract in cashscript syntax
              example: |
                contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
                    function transfer(sig recipientSig) {
                        require(checkSig(recipientSig, recipient));
                    }
                
                    function timeout(sig senderSig) {
                        require(checkSig(senderSig, sender));
                        require(tx.time >= timeout);
                    }
                }
          parameters:
            description: Parameters to construct the contract
            type: array
            items:
              type: string
              description: 
                Parameters passed as an array, where binary values are passed as hex
            example:
              - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
              - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
              - 215
      allOf:
       - $ref: "#/components/schemas/NetworkEnum"
      required:
        - script
        - parameters
        - network
    ContractResponse:
      properties:
        contractId:
            type: string
            description:  |
              serialized contract
            example: "testnet:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok5EZ3dOVE01TWpreg==:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNS4zOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:480539293"
        cashaddr:
          example: "bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0"
          description: The funding address for the contract
    ContractFnRequest:
      properties:
        contractId:
            type: string
            description:  |
              serialized contract
        action:
          description: In addition to `send`ing the built transaction, the built transaction 
            hex may be returned (without broadcasting) with `build` action, 
              or the [`meep 🔗`](https://github.com/gcash/meep) debugger command.
          enum:
            - build
            - send
            - meep
          example: send
          default: send
          type: string
        function:
          description: Function to call on the cashscript contract.
          type: string          
        arguments:
          type: array
          description: |
            Arguments for the contract function call as strings.  Binary data should be passed as hexidecimal. 
            Signatures may be passed as wallet import format (WIF) or wallet strings (walletId). Cashscript expects `pubkey`s to be compressed 35 byte values.
          items:
              type: string
        to:
          description: The output destination, as a SendRequest, cashscript style output(s), array of either.
          oneOf:
          - $ref: "#/components/schemas/SendRequestItem"
          - $ref: "#/components/schemas/SendRequestArray"
          - $ref: "#/components/schemas/CashscriptReceipt"
          - $ref: "#/components/schemas/CashscriptReceiptArray"
        utxoIds:
          description: Serialized utxoId(s) to spend from
          type: array
          items:
              type: string
              example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000"
              description: The hash of a transaction and index of the utxo and amount in satoshi
        opReturn:
          description: |
            Add OP_RETURN outputs to the transaction. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withopreturn)
          type: array
          items:
              type: string
        feePerByte:
          type: number
          description: | 
            The withFeePerByte() function allows you to specify the fee per per bytes for the transaction. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withfeeperbyte)
        hardcodedFee:
          type: number
          description: | 
            Specify a hardcoded fee to the transaction. By default the transaction fee is automatically calculated by the CashScript SDK. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withhardcodedfee)
        minChange:
          description: |
            Set a threshold for including a change output. Any remaining amount under this threshold will be added to the transaction fee instead. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withminchange)
          type: number
        withoutChange:
          description: |
            Disable the change output. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withoutchange)
          type: boolean
          default: false
        age:
          description: |
            Specify the minimum age of the transaction inputs. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withage)
          type: number
        time:
          description: |
            Specify the minimum block number that the transaction can be included in. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withtime)
          type: number
      required:
        - contractId
        - function
        - to
    EscrowFnRequest:
      properties:
        contractId:
            type: string
            description:  |
              serialized contract
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            The walletId of the transaction signer.
        function:
          description: Function to call on the escrow contract.
          enum:
            - spend
            - refund
          example: spend
          type: string
        to:
          description: Output address for the transaction
          type: string
          example: "bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0"
        action:
          description: In addition to `send`ing the built transaction, the built transaction 
              hex may be returned (without broadcasting) with `build` action, 
                or the [`meep 🔗`](https://github.com/gcash/meep) debugger command
          enum:
            - build
            - send
            - meep        
        utxoIds:
          type: array
          items:
              type: string
              example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000"
              description: The hash of a transaction and index of the utxo and amount in satoshi
      required:
        - contractId
        - walletId
        - method        
    ContractFnResponse:
      properties:
        contractId:
            type: string
            description:  |
              serialized contract
        txId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f"
          description: The hash of a transaction
        hex:
          type: string
          example: "0200000001f6d804c0a2f33936dd8b535d1... bdf0e43b30135be5251"
          description: The transaction as bitcoin encoded hex.
        debug:
          description: if a debugger action is passed in the request, the result will return here.
          example: |
            meep debug --tx=0200000001b3f2d1ce4951d104e8244310943c49cd8ea59b437fa5b794197fcffc32cfc28900000000b941b0e8a077ea6d70c757487a14c175c9ed21a5f4f54d0477578ac3bc89da86cbb5567f62eb9b46c49c328f02165a54a577cc4228fd2dd5a5497fc25a638f0205b1412103410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7514c5202d70014a72d8e8dc9ca261e8ffafba96514ee92b0c2bf271456b6b22042b90dd67bf2fbfb9aff7d37fbee11245379009c63557a5579ad547aa97b8777777767537a519d547a5479ad537aa9887cb16d5168feffffff0268420000000000001976a91456b6b22042b90dd67bf2fbfb9aff7d37fbee112488ac720e00000000000017a914d411d850ed6395e6e72a5e0497a54ab99a75b84387d7000000 --idx=0 --amt=21000 --pkscript=a914d411d850ed6395e6e72a5e0497a54ab99a75b84387
          type: string
    ScalableVectorGraphic:
      properties:
        src:
          type: string
          example: "data:image/svg+xml;base64,PD94bWwgdm... ==**"
          description: |
            A Qr code image data in svg format as utf-8 encoded string.
            Suitable for inclusion in html using:
                - \<img src\=\"**data:image/svg+xml;base64,PD94bWwgdm... ==**"\>
        title:
          example: "bitcoincash:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0"
          type: string
          description: hover text for graphic
        alt:
          example: "A Bitcoin Cash Qr Code"
          type: string
          description: assistive text
    SendMaxRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            The walletId of the sender
        cashaddr:
           type: string
           example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
      required:
        - walletId
        - cashaddr
    MaxAmountToSendRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
        output_count:
          type: integer
          format: int32
          description: |
            (optional) if sending all funds to multiple addresses, the
            count of the number of address funds will be sent
            to may be included.
      required:
        - walletId
    SerializedWallet:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
      required:
        - walletId
      discriminator:
        propertyName: walletId
    DepositAddressResponse:
      properties:
        cashaddr:
           type: string
           example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
    UtxoResponse:
      properties:
        utxos:
          type: "array"
          items:
            $ref: "#/components/schemas/Utxo"
    WalletResponse:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            All the information necessary to reconstruct a wallet, including private information, type and network.
        name:
          description: User defined string for wallet
          example: username1
          type: string
        cashaddr:
          description: |
            The address in cashaddr format.
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
      type: object
      oneOf:
       - $ref: "#/components/schemas/Wif"
       - $ref: "#/components/schemas/WalletMnemonic"
      allOf:
       - $ref: "#/components/schemas/NetworkEnum"
    MineRequest:
      example:
        cashaddr: "bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0"
        blocks: 105
      properties:
        cashaddr:
           type: string
           example: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        blocks:
          type: number
          description: the number of blocks to mine
          example: 105
    ConvertRequest:
      properties:
        value:
          type: number
          example: 100
        from:
          description:
            Provided value unit of account.
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: bch
          type: string
        to:
          description:
            Unit of account to be returned
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: usd
          type: string
      required:
        - value
        - from
        - to                
    WalletRequest:
      example:
        type: seed
        network: testnet
        name: username1
      properties:
        name:
          description: User defined string for wallet
          example: username1
          type: string
      type: object
      allOf:
       - $ref: "#/components/schemas/NetworkEnum"
       - $ref: "#/components/schemas/WalletType"
    SendRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            The walletId of the source of funds to spend from.
        to:
          type: array
          items:
            $ref: "#/components/schemas/SendRequestItem"
      type: object
    SendRequestItem:
      properties:
        cashaddr:
           type: string
           example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        value:
          type: number
          example: 100
      allOf:
        - $ref: "#/components/schemas/UnitType"
      required:
        - cashaddr
        - value
        - unit
      type: object
    SendMaxResponse:
      properties:
        txId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f"
          description: The hash of a transaction
        balance:
          $ref: "#/components/schemas/ZeroBalanceResponse"
      type: object
    SendResponse:
      properties:
        txId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f"
          description: The hash of a transaction
        balance:
          $ref: "#/components/schemas/BalanceResponse"
      type: object
    SendRequestArray:
      type: array
      items:
        $ref: "#/components/schemas/SendRequestItem"
    CashscriptReceiptArray:
      type: array
      items:
        $ref: "#/components/schemas/CashscriptReceipt"
    CashscriptReceipt:
      properties:
        to:
           type: string
           example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        amount:
          type: number
          example: 100
    Cashaddr:
      type: string
      example: "bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0"
      description: A bitcoin cash address
    NetworkEnum:
      properties:
        network:
            description: network type
            enum:
              - mainnet
              - testnet
              - regtest
            example: testnet
            type: string
      discriminator:
        propertyName: network
    UnitType:
      properties:
        unit:
          description:
            Unit of account.
          enum:
            - bch
            - BCH
            - usd
            - USD
            - bit
            - bits
            - sat
            - SAT
            - sats
            - satoshi
            - satoshis
          example: sat
          type: string
      discriminator:
        propertyName: unit_type
    WalletType:
      properties:
        type:
            description:
              Wallet type, either a mnemonic seed single address wallet, a simple private key (wif)
              or a *Hierarchical Deterministic wallet determined from a seed (not yet implemented)* .
            enum:
              - wif
              - hd
              - seed
              - watch
            example: seed
            type: string
      discriminator:
        propertyName: wallet_type
    WalletInfo:
      properties:
        cashaddr:
          type: string
        isTestnet:
          description: Whether the agreed value of the network is zero. True for all non-mainnet networks.
          type: boolean
        name:
          type: string
        publicKey:
          type: string
        publicKeyHash:
          type: string
        privateKey:
          type: string
        privateKeyWif:
          type: string
        seed:
          type: string
        derivationPath:
          type: string
        walletId:
          type: string
        walletDbEntry:
          description: The serialized form with private information
          type: string
      allOf:
       - $ref: "#/components/schemas/NetworkEnum"
    WalletMnemonic:
      properties:
        seed:
          type: string
        derivationPath:
          type: string
      discriminator:
        propertyName: seed
    Wif:
      properties:
        wif:
          description: |
            The wallet in Wallet Import Format (WIF)
          example: cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string

    SlpGenesisRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
        name:
          type: string
          example: Mainnet coin
        ticker:
          type: string
          example: MNC
          description: Token ticker
        initialAmount:
          type: string
          example: "10000"
          description: Value is represented as a string to avoid precision loss
        decimals:
          type: number
          description: Indicates that 1 token is divisible into 10^decimals base units
        documentUrl:
          type: string
          example: https://mainnet.cash
        documentHash:
          type: string
          example: db4451f11eda33950670aaf59e704da90117ff7057283b032cfaec7779313916
          description: Document hash of the token. Empty or 64 character long hex string.
        endBaton:
          type: boolean
          example: false
          description: Indicates if token should not be 'mintable', e.g. total circluation amount increased
      required:
        - walletId
        - name
        - ticker
        - initialAmount
        - decimals

    SlpGenesisResponse:
      properties:
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: Full token identifier freshly created
        balance:
          $ref: "#/components/schemas/SlpBalanceResponse"

    SlpDepositAddressResponse:
      properties:
        slpaddr:
           type: string
           example: slptest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq32uar866

    SlpTokenInfoRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: Token unique hexadecimal identifier, also the id of the token creation transaction
      required:
        - walletId
        - tokenId

    SlpTokenInfoResponse:
      type: object
      nullable: true
      $ref: "#/components/schemas/SlpTokenInfoResponseItem"

    SlpTokenInfoResponseItem:
      properties:
        name:
          type: string
          example: Mainnet coin
        ticker:
          type: string
          example: MNC
          description: Token ticker
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
        initialAmount:
          type: string
          example: "10000"
          description: Value is represented as a string to avoid precision loss
        decimals:
          type: number
          description: Indicates that 1 token is divisible into 10^decimals base units
          example: 2
        documentUrl:
          type: string
          example: https://mainnet.cash
        documentHash:
          type: string
          example: db4451f11eda33950670aaf59e704da90117ff7057283b032cfaec7779313916
          description: Document hash of the token. Empty or 64 character long hex string.

    SlpMintRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
        value:
          type: string
          example: "10000"
          description: Value is represented as a string to avoid precision loss
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
        endBaton:
          type: boolean
          example: false
          description: Indicates if token should not be 'mintable' anymore, e.g. total circluation amount increased
      required:
        - walletId
        - value
        - tokenId

    SlpMintResponse:
      properties:
        txId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: |
            Transaction id
        balance:
          $ref: "#/components/schemas/SlpBalanceResponse"

    SlpBalanceRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: Full token identifier aka its genesis transaction id
      required:
        - walletId

    SlpBalanceArrayResponse:
      type: "array"
      items:
        $ref: "#/components/schemas/SlpBalanceResponse"

    SlpBalanceResponse:
      properties:
        value:
          type: string
          format: float
          example: "10000"
          description: A big number represented as a string to avoid precision loss
        ticker:
          type: string
          example: "MNC"
          description: Token ticker
        name:
          type: string
          example: Mainnet coin
          description: Full name of the SLP token
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: Token unique hexadecimal identifier, also the id of the token creation transaction

    SlpSendRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            ID that is returned in `wallet` field of /wallet call
        to:
          type: array
          items:
            $ref: "#/components/schemas/SlpSendRequestItem"
      type: object
      required:
        - walletId
        - to

    SlpSendRequestItem:
      properties:
        slpaddr:
           type: string
           example: slptest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq32uar866
        value:
          type: number
          example: 100
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: Token unique hexadecimal identifier, also the id of the token creation transaction
      required:
        - slpaddr
        - value
        - tokenId
      type: object

    SlpSendResponse:
      properties:
        txId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f"
          description: The hash of a transaction
        balance:
          $ref: "#/components/schemas/SlpBalanceResponse"
      type: object

    SlpSendMaxRequest:
      properties:
        walletId:
          type: string
          example: "wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6"
          description: |
            The walletId of the sending wallet
        slpaddr:
          type: string
          example: slptest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq32uar866
        tokenId:
          type: string
          example: "132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15"
          description: Token unique hexadecimal identifier, also the id of the token creation transaction
      required:
        - walletId
        - slpaddr
        - tokenId

    SlpUtxoResponse:
      type: "array"
      items:
        $ref: "#/components/schemas/SlpUtxo"
    SlpUtxo:
      properties:
        index:
          type: number
        txId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f"
          description: The hash of a transaction
        satoshis:
          type: number
          example: 546
          description: Locked satoshi
        utxoId:
          type: string
          example: "1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0"
          description: serialized outpoint
        value:
          type: string
          description: Token amount represented as a string to avoid precision loss
          example: "10000"
        decimals:
          type: number
          example: 2
          description: Indicates that 1 token is divisible into 10^decimals base units
        ticker:
          type: string
          example: "MNC"
          description: Token ticker
        tokenId:
          type: string
          example: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
          description: Token unique hexadecimal identifier, also the id of the token creation transaction

    GetTestnetBchRequest:
      properties:
        cashaddr:
          type: string
          description: Receiver's cashaddr
      example:
        cashaddr: "bchtest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq27mxesg8"
    GetTestnetBchResponse:
      properties:
        txId:
          type: string
          description: Transaction id
      example:
        txId: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
    GetTestnetSlpRequest:
      properties:
        slpaddr:
          type: string
          description: Receiver's slpaddr
        tokenId:
          type: string
          description: Token unique hexadecimal identifier, also the id of the token creation transaction
      required:
        - slpaddr
        - tokenId
      example:
        slpaddr: "slptest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq32uar866"
        tokenId: "132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15"
    GetTestnetSlpResponse:
      properties:
        txId:
          type: string
          description: Transaction id
      example:
        txId: dc38ee5d4233163e69144e4ec6e49257d41f5605e297d05c0af8f1d81ae1a387
    GetAddressesResponse:
      properties:
        bchtest:
          type: string
          description: Cashaddr to return testnet BCH
        slptest:
          type: string
          description: Slpaddr to return testnet SLP tokens
      example:
        bchtest: "bchtest:qzxkd5achtj6v46m9vdqv6gj2pvrac5q0qd2qqa2ga"
        slptest: "slptest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq32uar866"