openapi: 3.0.1
info:
  contact:
    email: hello@mainnet.cash
  description: |
    A developer friendly bitcoin cash wallet api

    This API is currently in *active* development, breaking changes may
    be made prior to official release of version 1.0.0.
  license:
    name: MIT Licence
    url: https://github.com/mainnet-cash/mainnet-js/blob/master/LICENSE
  termsOfService: https://mainnet.cash/terms/
  title: Mainnet Cash
  version: 2.3.16
externalDocs:
  description: Find out more about mainnet-js
  url: https://mainnet.cash
servers:
- description: unstable service (for development)
  url: https://rest-unstable.mainnet.cash/
- description: local development server via `yarn api:serve`
  url: http://localhost:3000/
security:
- bearerAuth: []
tags:
- description: Use Cashscript contracts
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/contract/
  name: contract
- description: "Use a stock escrow contract, with some helpers."
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/contract/escrow/
  name: contract/escrow
- description: Testnet faucet
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/faucet/
  name: faucet
- description: Mine regtest coins
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/mine/
  name: mine
- description: Stateless convenience utilities
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/util/
  name: util
- description: Interact with wallets
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/
  name: wallet
- description: Interact with BitcoinCash Metadata Registries (BCMR)
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/bcmr
  name: wallet/bcmr
- description: Sign and verify messages
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/sign
  name: wallet/signed
- description: Invoke wallet utility functions
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/util
  name: wallet/util
- description: Create webhooks
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/webhook/
  name: webhook
paths:
  /contract/call:
    post:
      operationId: contractFn
      requestBody:
        content:
          application/json:
            example:
              contractId: testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1996128042
              action: send
              function: timeout
              to:
                unit: sat
                cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
                value: 2000
              feePerByte: 1
            schema:
              $ref: '#/components/schemas/ContractFnRequest'
        description: Request a new cashscript contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFnResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Call a method on a contract
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /contract/create:
    post:
      operationId: createContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractRequest'
        description: Request a new cashscript contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a cashscript contract
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /contract/escrow/create:
    post:
      operationId: createEscrow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowRequest'
        description: Request a new escrow contract from a template
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create an escrow contract
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/escrow/call:
    post:
      operationId: escrowFn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowFnRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFnResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Finalize an escrow contract
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/escrow/info:
    post:
      operationId: escrowInfo
      requestBody:
        content:
          application/json:
            example:
              escrowContractId: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
            schema:
              $ref: '#/components/schemas/EscrowInfoRequest'
        description: Request parsed information regarding a contract from the escrowContractId
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowInfoResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about an escrow contract from the escrowContractId
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/escrow/utxos:
    post:
      description: |
        Returns all UTXOs that can be spent by the
        contract. Both confirmed and unconfirmed UTXOs are included. The endpoint works with contracts generated from templates (i.e. escrow).
      operationId: escrowUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowContract'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: List specific utxos on any escrow contract
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/info:
    post:
      operationId: contractInfo
      requestBody:
        content:
          application/json:
            example:
              contractId: contract:testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1996128042
            schema:
              $ref: '#/components/schemas/ContractInfoRequest'
        description: Request parsed information regarding a contract from the contractId
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInfoResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about a contract from the contractId
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /contract/utxos:
    post:
      description: |
        Returns all UTXOs that can be spent by the
        contract. Both confirmed and unconfirmed UTXOs are included. The endpoint works with contracts generated from templates (i.e. escrow).
      operationId: contractUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: List specific utxos on any contract
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /faucet/get_testnet_bch:
    post:
      operationId: getTestnetBch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTestnetBchRequest'
        description: |
          Request to bch faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTestnetBchResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet bch
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /faucet/get_addresses:
    post:
      operationId: getAddresses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressesResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get addresses to return back or donate the testnet bch and tokens
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /mine:
    post:
      operationId: mine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MineRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: a list of block hashes
                  type: string
                type: array
          description: request accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Mine regtest coins to a specified address
      tags:
      - mine
      x-eov-operation-handler: controllers/MineController
  /util/convert:
    post:
      operationId: convert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: "If a unit of account is passed, a plain number is returned."
                type: number
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: convert between units
      tags:
      - util
      x-eov-operation-handler: controllers/UtilController
  /util/get_addrs_by_xpubkey:
    post:
      operationId: getAddrsByXpubKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAddrsByXpubKeyRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/getAddrsByXpubKeyResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: "Derive heristic determined addresses from an extended public key,\
        \ per BIP32"
      tags:
      - util
      x-eov-operation-handler: controllers/UtilController
  /util/get_xpubkey_info:
    post:
      operationId: getXpubKeyInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getXpubKeyInfoRequest'
        description: "Decode information about an extended public key, per BIP32"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getXpubKeyInfoResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: "Decode information about an extended public key, per BIP32"
      tags:
      - util
      x-eov-operation-handler: controllers/UtilController
  /wallet/create:
    post:
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletRequest'
        description: Request a new random wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: create a new wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/replace_named:
    post:
      operationId: replaceNamed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletReplaceNamedRequest'
        description: Request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletReplaceNamedResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Replace (recover) named wallet with a new walletId.
        If wallet with a provided name does not exist yet, it will be creted with a `walletId` supplied
        If wallet exists it will be overwritten without exception
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/named_exists:
    post:
      operationId: namedExists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletNamedExistsRequest'
        description: Request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletNamedExistsResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Check if a named wallet already exists
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/info:
    post:
      operationId: info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          The wallet to request information about, in serialized form.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: |
            Information about the wallet network, type, and keys
      summary: Get information about a wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/balance:
    post:
      operationId: balance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceRequest'
        description: |
          Request for a wallet balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
            text/plain:
              schema:
                description: "If a unit of account is passed, a plain number is returned."
                type: number
          description: successful operation
      summary: Get total balance for wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/get_history:
    post:
      operationId: getHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryRequest'
        description: |
          Request for a wallet history
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
          description: successful operation
      summary: Get a simplified list of transactions related to a wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/max_amount_to_send:
    post:
      operationId: maxAmountToSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaxAmountToSendRequest'
        description: "get amount that will be spend with a spend max request. If a\
          \ unit type is specified, a numeric value will be returned."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Get maximum spendable amount
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/deposit_address:
    post:
      operationId: depositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddressResponse'
          description: successful operation
      summary: Get a deposit address in cash address format
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/token_deposit_address:
    post:
      operationId: tokenDepositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a token aware deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddressResponse'
          description: successful operation
      summary: Get a token aware deposit address in cash address format
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/deposit_qr:
    post:
      operationId: depositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving cash address as a qrcode
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/token_deposit_qr:
    post:
      operationId: tokenDepositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a token aware deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving token aware cash address as a qrcode
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/send:
    post:
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
        description: place a send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some amount to a given address
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/send_max:
    post:
      operationId: sendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMaxRequest'
        description: Request to send all available funds to a given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMaxResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available funds to a given address
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/encode_transaction:
    post:
      operationId: encodeTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncodeTransactionRequest'
        description: encode a transaction
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodeTransactionResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: "Encode and sign a transaction given a list of sendRequests, options\
        \ and estimate fees"
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/submit_transaction:
    post:
      operationId: submitTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTransactionRequest'
        description: submit an encoded and signed transaction to the network
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTransactionResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: submit an encoded and signed transaction to the network
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/utxo:
    post:
      operationId: utxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request detailed list of unspent transaction outputs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
      summary: Get detailed information about unspent outputs (utxos)
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/xpubkeys:
    post:
      operationId: xpubkeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XPubKeyRequest'
        description: |
          x
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XPubKeyResponse'
          description: successful operation
      summary: A set of xpubkeys and paths for the wallet.
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/token_genesis:
    post:
      operationId: tokenGenesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGenesisRequest'
        description: |
          Create new cashtoken, both funglible and/or non-fungible (NFT)
          Refer to spec https://github.com/bitjson/cashtokens
          Newly created token identifier can be found in `tokenIds` field.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: successful operation
      summary: Create new token category
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/token_mint:
    post:
      operationId: tokenMint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenMintRequest'
        description: |
          Mint new NFT cashtokens using an existing minting token
          Refer to spec https://github.com/bitjson/cashtokens
          Newly minted tokens will retain the parent's `tokenId`.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: successful operation
      summary: Mint new non-fungible tokens
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/token_burn:
    post:
      operationId: tokenBurn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenBurnRequest'
        description: |
          Perform an explicit token burning by spending a token utxo to an OP_RETURN
          Behaves differently for fungible and non-fungible tokens:
           * NFTs are always "destroyed"
           * FTs' amount is reduced by the amount specified, if 0 FT amount is left and no NFT present, the token is "destroyed"
          Refer to spec https://github.com/bitjson/cashtokens
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: successful operation
      summary: Perform an explicit token burn
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/get_token_utxos:
    post:
      operationId: getTokenUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getTokenUtxos_request'
        description: |
          Get unspent token outputs for the wallet
          will return utxos only for the specified token if `tokenId` provided
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
      summary: Get token utxos
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/get_token_balance:
    post:
      operationId: getTokenBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getTokenBalance_request'
        description: |
          Gets fungible token balance
          for NFT token balance see @ref getNftTokenBalance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTokenBalance_200_response'
          description: successful operation
      summary: Get fungible token balance
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/get_nft_token_balance:
    post:
      operationId: getNftTokenBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getTokenBalance_request'
        description: |
          Gets non-fungible token (NFT) balance for a particula tokenId
          disregards fungible token balances
          for fungible token balance see @ref getTokenBalance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getNftTokenBalance_200_response'
          description: successful operation
      summary: Get non-fungible token balance
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/get_all_token_balances:
    post:
      operationId: getAllTokenBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAllTokenBalances_request'
        description: |
          Gets all fungible token balances in this wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: number
                type: object
          description: successful operation
      summary: Get non-fungible token balance
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/get_all_nft_token_balances:
    post:
      operationId: getAllNftTokenBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAllTokenBalances_request'
        description: |
          Gets all non-fungible token (NFT) balances in this wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: number
                type: object
          description: successful operation
      summary: Get non-fungible token balance
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/bcmr/get_registries:
    post:
      operationId: bcmrGetRegistries
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        description: |
          Get tracked BCMR registries.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  additionalProperties: true
                  type: object
                type: array
          description: successful operation
      summary: Get tracked BCMR registries
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/bcmr/reset_registries:
    post:
      operationId: bcmrResetRegistries
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: |
          Reset tracked BCMR registries, dropping all token info.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      summary: Reset tracked BCMR registries
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/bcmr/add_registry:
    post:
      operationId: bcmrAddRegistry
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        description: |
          Add a BCMR registry to the list of tracked, allowing for token info lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      summary: Add BCMR registry from parameter
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/bcmr/add_registry_from_uri:
    post:
      operationId: bcmrAddRegistryFromUri
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bcmrAddRegistryFromUri_request'
        description: |
          Add a BCMR registry from remote URI to the list of tracked, allowing for token info lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      summary: Reset tracked BCMR registries
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/bcmr/add_registry_authchain:
    post:
      operationId: bcmrAddMetadataRegistryAuthChain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bcmrAddMetadataRegistryAuthChain_request'
        description: |
          Add BCMR metadata registry by resolving an authchain, allowing for token info lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthChain'
          description: successful operation
      summary: "Add BCMR metadata registry from autchain, returning the built chain"
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/bcmr/build_authchain:
    post:
      operationId: bcmrBuildAuthChain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bcmrBuildAuthChain_request'
        description: |
          Build an authchain - Zeroth-Descendant Transaction Chain, refer to https://github.com/bitjson/chip-bcmr#zeroth-descendant-transaction-chains
          The authchain in this implementation is specific to resolve to a valid metadata registy
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthChain'
          description: successful operation
      summary: Build a BCMR authchain
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/bcmr/get_token_info:
    post:
      operationId: bcmrGetTokenInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bcmrGetTokenInfo_request'
        description: |
          Return the token info (the identity snapshot as per BCMR spec)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bcmrGetTokenInfo_200_response'
          description: successful operation
      summary: Get token info
      tags:
      - wallet/bcmr
      x-eov-operation-handler: controllers/WalletBcmrController
  /wallet/signed/sign:
    post:
      operationId: signedMessageSign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignedMessageRequest'
        description: |
          Sign a message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedMessageResponse'
          description: successful operation
      summary: Returns the message signature
      tags:
      - wallet/signed
      x-eov-operation-handler: controllers/WalletSignedController
  /wallet/signed/verify:
    post:
      operationId: signedMessageVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignedMessageRequest'
        description: |
          Sign a message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySignedMessageResponse'
          description: successful operation
      summary: Returns a boolean indicating whether message was valid for a given
        address
      tags:
      - wallet/signed
      x-eov-operation-handler: controllers/WalletSignedController
  /wallet/util/decode_transaction:
    post:
      operationId: utilDecodeTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilDecodeTransactionRequest'
        description: |
          Request to decode a transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectrumRawTransaction'
          description: successful operation
      summary: Decode a bitcoin transaction. Accepts both transaction hash or raw
        transaction in hex format.
      tags:
      - wallet/util
      x-eov-operation-handler: controllers/WalletUtilController
  /wallet/util/get_raw_transaction:
    post:
      operationId: utilGetRawTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/utilGetRawTransaction_request'
        description: |
          Request to get raw transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utilGetRawTransaction_200_response'
          description: successful operation
      summary: Get bitcoin raw transaction
      tags:
      - wallet/util
      x-eov-operation-handler: controllers/WalletUtilController
  /webhook/watch_address:
    post:
      operationId: watchAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchAddressRequest'
        description: |
          Based on the 'type' parameter the webhook will be triggered to either post balance or raw transactions to the 'url':
          - 'transaction:in' for incoming BCH transactions
          - 'transaction:out' for outgoing BCH transactions
          - 'transaction:in,out' both for incoming and outgoing BCH transactions
          - 'balance' will post the object according to 'BalanceResponse' schema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchAddressResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Create a webhook to watch cashaddress balance and transactions.
      tags:
      - webhook
      x-eov-operation-handler: controllers/WebhookController
components:
  schemas:
    UnitType:
      discriminator:
        mapping:
          Utxo: '#/components/schemas/Utxo'
          BalanceRequest: '#/components/schemas/BalanceRequest'
        propertyName: unit_type
      example:
        unit: sat
      properties:
        unit:
          description: Unit of account.
          enum:
          - bch
          - BCH
          - usd
          - USD
          - bit
          - bits
          - sat
          - SAT
          - sats
          - satoshi
          - satoshis
          example: sat
          type: string
    Utxo:
      example:
        txid: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
        vout: 0.8008281904610115
        satoshis: 100
        token:
          amount: 6.027456183070403
          capability: none
          tokenId: tokenId
          commitment: commitment
      properties:
        vout:
          type: number
        txid:
          description: The hash of a transaction
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          type: string
        satoshis:
          example: 100
          type: number
        token:
          $ref: '#/components/schemas/Utxo_token'
      required:
      - satoshis
      - txid
      - vout
    BalanceRequest:
      allOf:
      - $ref: '#/components/schemas/UnitType'
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        slpSemiAware: true
      properties:
        walletId:
          description: |
            The walletId to get a balance for.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        slpSemiAware:
          default: false
          description: This flag requires an utxo to have more than 546 sats to be
            spendable and counted in the balance This option is not switched on by
            default
          example: true
          type: boolean
      required:
      - walletId
    HistoryRequest:
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        unit: sat
        collapseChange: true
        start: 0.8008281904610115
        count: 6.027456183070403
      properties:
        walletId:
          description: |
            The walletId to get a history for.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        unit:
          default: sat
          description: Unit of account for running balance.
          enum:
          - bch
          - BCH
          - usd
          - USD
          - bit
          - bits
          - sat
          - SAT
          - sats
          - satoshi
          - satoshis
          example: sat
          type: string
        start:
          description: The first record to return starting from zero
          type: number
        count:
          description: The number of records to return
          type: number
        collapseChange:
          default: true
          description: Exclude transactions returned to the wallet as change in response.
          example: true
          type: boolean
      required:
      - walletId
    HistoryResponse:
      example:
        transactions:
        - unit:
            unit: sat
          balance: 5.637376656633329
          fee: 5.962133916683182
          index: 0.8008281904610115
          txId: txId
          from: from
          to: to
          txn: txn
          value: 1.4658129805029452
          blockheight: 6.027456183070403
        - unit:
            unit: sat
          balance: 5.637376656633329
          fee: 5.962133916683182
          index: 0.8008281904610115
          txId: txId
          from: from
          to: to
          txn: txn
          value: 1.4658129805029452
          blockheight: 6.027456183070403
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/TransactionHistoryItem'
          type: array
    TransactionHistoryItem:
      example:
        unit:
          unit: sat
        balance: 5.637376656633329
        fee: 5.962133916683182
        index: 0.8008281904610115
        txId: txId
        from: from
        to: to
        txn: txn
        value: 1.4658129805029452
        blockheight: 6.027456183070403
      properties:
        to:
          description: cashaddr of the receiving cash address.
          type: string
        from:
          description: cashaddr of the sending cash address.
          type: string
        unit:
          $ref: '#/components/schemas/UnitType'
        index:
          description: the index of the input or output in the transaction
          type: number
        blockheight:
          description: the blockheight of transaction
          type: number
        txn:
          description: The hash of the transaction
          type: string
        txId:
          description: a unique identifier for the sub-transaction
          type: string
        value:
          description: "The amount of the transaction, in the unit provided, with\
            \ respect to the wallet provided."
          type: number
        fee:
          description: "The amount paid, if any, by the wallet for the transaction\
            \ (incoming tranactions are \"free\")"
          type: number
        balance:
          description: A running balance
          type: number
    SendRequestItem:
      anyOf:
      - description: "Send request in array form ['cashadr', 100, 'sats']"
        items:
          anyOf:
          - type: string
          - type: number
        type: array
      - $ref: '#/components/schemas/SendRequestItem_anyOf'
    TokenSendRequest:
      example:
        slpaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        amount: 100
        tokenId: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
      properties:
        cashaddr:
          description: Cashaddress to send tokens to
          type: string
        value:
          default: 1000
          description: Satoshi value to send alongside with tokens
          type: number
        amount:
          description: Fungible token amount to send
          type: number
        tokenId:
          description: "Token unique hexadecimal identifier, also the id of the token\
            \ creation transaction"
          type: string
        capability:
          description: Capability of the NFT
          enum:
          - none
          - mutable
          - minting
          type: string
        commitment:
          description: "Token commitment message, hexadecimal encoded, 40 bytes max\
            \ length"
          maxLength: 80
          type: string
      required:
      - cashaddr
      - tokenId
      type: object
    TokenGenesisRequest:
      example:
        walletId: walletId
        cashaddr: cashaddr
        amount: 0.8008281904610115
        capability: none
        sendRequests: null
        commitment: commitment
        value: 6.027456183070403
      properties:
        walletId:
          description: The walletId to make a request to.
          type: string
        amount:
          description: amount of *fungible* tokens to create
          type: number
        capability:
          description: Capability of the new NFT
          enum:
          - none
          - mutable
          - minting
          type: string
        commitment:
          description: "Token commitment message, hexadecimal encoded, 40 bytes max\
            \ length"
          maxLength: 80
          type: string
        cashaddr:
          description: Cashaddress to send tokens to
          type: string
        value:
          default: 1000
          description: Satoshi value to send alongside with tokens
          type: number
        sendRequests:
          $ref: '#/components/schemas/TokenGenesisRequest_sendRequests'
      required:
      - walletId
      type: object
    TokenMintRequest:
      example:
        walletId: walletId
        tokenId: tokenId
        deductTokenAmount: false
        requests:
        - cashaddr: cashaddr
          capability: none
          commitment: commitment
          value: 0.8008281904610115
        - cashaddr: cashaddr
          capability: none
          commitment: commitment
          value: 0.8008281904610115
      properties:
        walletId:
          description: The walletId to make a request to.
          type: string
        tokenId:
          description: "Token unique hexadecimal identifier, also the id of the token\
            \ creation transaction"
          type: string
        requests:
          items:
            $ref: '#/components/schemas/TokenMintRequest_requests_inner'
          type: array
        deductTokenAmount:
          default: false
          description: "if minting token contains fungible amount, deduct from it\
            \ by amount of minted tokens"
          type: boolean
      required:
      - tokenId
      - walletId
      type: object
    TokenBurnRequest:
      example:
        walletId: walletId
        cashaddr: cashaddr
        capability: none
        amount: 0.8008281904610115
        tokenId: tokenId
        commitment: commitment
        message: message
      properties:
        walletId:
          description: The walletId to make a request to.
          type: string
        tokenId:
          description: "Token unique hexadecimal identifier, also the id of the token\
            \ creation transaction"
          type: string
        capability:
          description: Capability of the new NFT
          enum:
          - none
          - mutable
          - minting
          type: string
        commitment:
          description: "Token commitment message, hexadecimal encoded, 40 bytes max\
            \ length"
          maxLength: 80
          type: string
        amount:
          description: amount of fungible tokens to burn
          type: number
        cashaddr:
          description: "address to return token and satoshi change to, default to\
            \ the sender's cashaddr"
          type: string
        message:
          description: optional message to include in OP_RETURN
          type: string
      required:
      - tokenId
      - walletId
      type: object
    OpReturnData:
      anyOf:
      - description: "OP_RETURN message in format ['OP_RETURN', 'MEMO\\x10LÖL😅']\
          \ or ['OP_RETURNB64', 'TUVNTxBMw5ZM8J+YhQ==']"
        items:
          anyOf:
          - type: string
          - format: byte
            type: string
        type: array
      - description: "OP_RETURN message in object notation, either in plain text or\
          \ as a base64 encoded byte buffer If buffer lacks the OP_RETURN and OP_PUSHDATA\
          \ opcodes, they will be prepended."
        oneOf:
        - properties:
            dataString:
              example: "MEMO\x10LÖL😅"
              type: string
          required:
          - dataString
          type: object
        - properties:
            dataBuffer:
              example: !!binary |-
                VFVWTlR4Qk13NVpNOEorWWhRPT0=
              format: byte
              type: string
          required:
          - dataBuffer
          type: object
    SendRequestArray:
      items:
        $ref: '#/components/schemas/SendRequestArray_inner'
      type: array
    CashscriptReceipt:
      properties:
        to:
          example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
          type: string
        amount:
          example: 100
          type: number
    CashscriptReceiptArray:
      items:
        $ref: '#/components/schemas/CashscriptReceipt'
      type: array
    ContractFnRequest:
      example:
        minChange: 1.4658129805029452
        feePerByte: 0.8008281904610115
        function: function
        hardcodedFee: 6.027456183070403
        contractId: contractId
        withoutChange: false
        action: send
        arguments:
        - arguments
        - arguments
        to: null
        utxoIds:
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
        time: 5.637376656633329
        opReturn:
        - opReturn
        - opReturn
        age: 5.962133916683182
      properties:
        contractId:
          description: |
            serialized contract
          type: string
        action:
          default: send
          description: "In addition to `send`ing the built transaction, the built\
            \ transaction hex may be returned (without broadcasting) with `build`\
            \ action, or the [`meep 🔗`](https://github.com/gcash/meep) debugger command."
          enum:
          - build
          - send
          - meep
          example: send
          type: string
        function:
          description: Function to call on the cashscript contract.
          type: string
        arguments:
          description: "Arguments for the contract function call as strings.  Binary\
            \ data should be passed as hexidecimal. \nSignatures may be passed as\
            \ wallet import format (WIF) or wallet strings (walletId). Cashscript\
            \ expects `pubkey`s to be compressed 35 byte values.\n"
          items:
            type: string
          type: array
        to:
          $ref: '#/components/schemas/ContractFnRequest_to'
        utxoIds:
          description: Serialized utxoId(s) to spend from
          items:
            description: The hash of a transaction and index of the utxo and amount
              in satoshi
            example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
            type: string
          type: array
        opReturn:
          description: |
            Add OP_RETURN outputs to the transaction. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withopreturn)
          items:
            type: string
          type: array
        feePerByte:
          description: |
            The withFeePerByte() function allows you to specify the fee per per bytes for the transaction. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withfeeperbyte)
          type: number
        hardcodedFee:
          description: |
            Specify a hardcoded fee to the transaction. By default the transaction fee is automatically calculated by the CashScript SDK. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withhardcodedfee)
          type: number
        minChange:
          description: |
            Set a threshold for including a change output. Any remaining amount under this threshold will be added to the transaction fee instead. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withminchange)
          type: number
        withoutChange:
          default: false
          description: |
            Disable the change output. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withoutchange)
          type: boolean
        age:
          description: |
            Specify the minimum age of the transaction inputs. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withage)
          type: number
        time:
          description: |
            Specify the minimum block number that the transaction can be included in. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withtime)
          type: number
      required:
      - contractId
      - function
      - to
    ContractFnResponse:
      example:
        debug: |
          meep debug --tx=0200000001b3f2d1ce4951d104e8244310943c49cd8ea59b437fa5b794197fcffc32cfc28900000000b941b0e8a077ea6d70c757487a14c175c9ed21a5f4f54d0477578ac3bc89da86cbb5567f62eb9b46c49c328f02165a54a577cc4228fd2dd5a5497fc25a638f0205b1412103410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7514c5202d70014a72d8e8dc9ca261e8ffafba96514ee92b0c2bf271456b6b22042b90dd67bf2fbfb9aff7d37fbee11245379009c63557a5579ad547aa97b8777777767537a519d547a5479ad537aa9887cb16d5168feffffff0268420000000000001976a91456b6b22042b90dd67bf2fbfb9aff7d37fbee112488ac720e00000000000017a914d411d850ed6395e6e72a5e0497a54ab99a75b84387d7000000 --idx=0 --amt=21000 --pkscript=a914d411d850ed6395e6e72a5e0497a54ab99a75b84387
        contractId: contractId
        txId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
        hex: 0200000001f6d804c0a2f33936dd8b535d1... bdf0e43b30135be5251
      properties:
        contractId:
          description: |
            serialized contract
          type: string
        txId:
          description: The hash of a transaction
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          type: string
        hex:
          description: The transaction as bitcoin encoded hex.
          example: 0200000001f6d804c0a2f33936dd8b535d1... bdf0e43b30135be5251
          type: string
        debug:
          description: "if a debugger action is passed in the request, the result\
            \ will return here."
          example: |
            meep debug --tx=0200000001b3f2d1ce4951d104e8244310943c49cd8ea59b437fa5b794197fcffc32cfc28900000000b941b0e8a077ea6d70c757487a14c175c9ed21a5f4f54d0477578ac3bc89da86cbb5567f62eb9b46c49c328f02165a54a577cc4228fd2dd5a5497fc25a638f0205b1412103410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7514c5202d70014a72d8e8dc9ca261e8ffafba96514ee92b0c2bf271456b6b22042b90dd67bf2fbfb9aff7d37fbee11245379009c63557a5579ad547aa97b8777777767537a519d547a5479ad537aa9887cb16d5168feffffff0268420000000000001976a91456b6b22042b90dd67bf2fbfb9aff7d37fbee112488ac720e00000000000017a914d411d850ed6395e6e72a5e0497a54ab99a75b84387d7000000 --idx=0 --amt=21000 --pkscript=a914d411d850ed6395e6e72a5e0497a54ab99a75b84387
          type: string
    Error:
      example:
        message: An server error occurred
        code: 500
      properties:
        message:
          type: string
        code:
          type: number
    NetworkEnum:
      discriminator:
        mapping: {}
        propertyName: network
      properties:
        network:
          description: network type
          enum:
          - mainnet
          - testnet
          - regtest
          example: testnet
          type: string
    ContractRequest:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      example:
        parameters:
        - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
        - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
        - 215
        script: |
          contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
              function transfer(sig recipientSig) {
                  require(checkSig(recipientSig, recipient));
              }

              function timeout(sig senderSig) {
                  require(checkSig(senderSig, sender));
                  require(tx.time >= timeout);
              }
          }
      properties:
        script:
          description: |
            The smart contract in cashscript syntax
          example: |
            contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
                function transfer(sig recipientSig) {
                    require(checkSig(recipientSig, recipient));
                }

                function timeout(sig senderSig) {
                    require(checkSig(senderSig, sender));
                    require(tx.time >= timeout);
                }
            }
          type: string
        parameters:
          description: Parameters to construct the contract
          example:
          - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
          - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
          - 215
          items:
            description: "Parameters passed as an array, where binary values are passed\
              \ as hex"
            type: string
          type: array
      required:
      - network
      - parameters
      - script
    ContractResponse:
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        contractId: testnet:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok5EZ3dOVE01TWpreg==:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNS4zOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:480539293
      properties:
        contractId:
          description: |
            serialized contract
          example: testnet:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok5EZ3dOVE01TWpreg==:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNS4zOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:480539293
          type: string
        cashaddr:
          description: The funding address for the contract
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
    EscrowRequest:
      example:
        arbiterAddr: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        amount: 10000
        buyerAddr: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        sellerAddr: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
      properties:
        buyerAddr:
          description: The cashaddress of the buyer
          example: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        arbiterAddr:
          description: The cashaddress of the arbiter
          example: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        sellerAddr:
          description: The cashaddress of the seller
          example: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
        amount:
          description: "Numeric amount to be transferred by the contract in satoshi,\
            \ amount must be less than 21 BCH."
          example: 10000
          type: number
      required:
      - amount
      - arbiterAddr
      - buyerAddr
      - sellerAddr
    EscrowResponse:
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        escrowContractId: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          example: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
          type: string
        cashaddr:
          description: The funding address for the escrow contract
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
    EscrowFnRequest:
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        escrowContractId: escrowContractId
        function: spend
        action: build
        to: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        utxoIds:
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
      properties:
        escrowContractId:
          description: |
            serialized contract
          type: string
        walletId:
          description: |
            The walletId of the transaction signer.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        function:
          description: Function to call on the escrow contract.
          enum:
          - spend
          - refund
          example: spend
          type: string
        to:
          description: Output address for the transaction
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
        action:
          description: "In addition to `send`ing the built transaction, the built\
            \ transaction hex may be returned (without broadcasting) with `build`\
            \ action, or the [`meep 🔗`](https://github.com/gcash/meep) debugger command"
          enum:
          - build
          - send
          - meep
          type: string
        utxoIds:
          items:
            description: The hash of a transaction and index of the utxo and amount
              in satoshi
            example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
            type: string
          type: array
      required:
      - escrowContractId
      - function
      - walletId
    EscrowInfoRequest:
      example:
        escrowContractId: escrowContractId
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          type: string
    EscrowInfoResponse:
      example:
        cashaddr: bchtest:prxla49zwqm8m2nzgn82qza3ssrqnpt8vgv60hlwm2
        arbiterAddr: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        amount: 10000
        escrowContractId: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
        buyerAddr: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        sellerAddr: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
        parameters:
        - 9ef0d8bf4c1f62a68c4c647beb404ec1d458f3c5
        - e7fe7119a6bb73409a087e0ac46cefada815b69f
        - a01c11c6deea905d25b487698f1140e0c53396c8
        - 10000
        - 1996128042
        nonce: 1996128042
        script: |
          pragma cashscript ^0.6.1;
          contract escrow(bytes20 sellerPkh, bytes20 buyerPkh, bytes20 arbiterPkh, int contractAmount, int contractNonce) {

              function spend(pubkey signingPk, sig s, int amount, int nonce) {
                  require(hash160(signingPk) == arbiterPkh || hash160(signingPk) == buyerPkh);
                  require(checkSig(s, signingPk));
                  require(amount >= contractAmount);
                  require(nonce == contractNonce);
                  bytes34 output = new OutputP2PKH(bytes8(amount), sellerPkh);
                  require(hash256(output) == tx.hashOutputs);
              }

              function refund(pubkey signingPk, sig s, int amount, int nonce) {
                  require(hash160(signingPk) == arbiterPkh||hash160(signingPk) == sellerPkh);
                  require(checkSig(s, signingPk));
                  require(amount >= contractAmount);
                  require(nonce == contractNonce);
                  bytes34 output = new OutputP2PKH(bytes8(amount), buyerPkh);
                  require(hash256(output) == tx.hashOutputs);
              }
          }
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          example: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
          type: string
        script:
          description: |
            The escrow contract in cashscript syntax
          example: |
            pragma cashscript ^0.6.1;
            contract escrow(bytes20 sellerPkh, bytes20 buyerPkh, bytes20 arbiterPkh, int contractAmount, int contractNonce) {

                function spend(pubkey signingPk, sig s, int amount, int nonce) {
                    require(hash160(signingPk) == arbiterPkh || hash160(signingPk) == buyerPkh);
                    require(checkSig(s, signingPk));
                    require(amount >= contractAmount);
                    require(nonce == contractNonce);
                    bytes34 output = new OutputP2PKH(bytes8(amount), sellerPkh);
                    require(hash256(output) == tx.hashOutputs);
                }

                function refund(pubkey signingPk, sig s, int amount, int nonce) {
                    require(hash160(signingPk) == arbiterPkh||hash160(signingPk) == sellerPkh);
                    require(checkSig(s, signingPk));
                    require(amount >= contractAmount);
                    require(nonce == contractNonce);
                    bytes34 output = new OutputP2PKH(bytes8(amount), buyerPkh);
                    require(hash256(output) == tx.hashOutputs);
                }
            }
          type: string
        parameters:
          description: Parameters passed when the contract was created
          example:
          - 9ef0d8bf4c1f62a68c4c647beb404ec1d458f3c5
          - e7fe7119a6bb73409a087e0ac46cefada815b69f
          - a01c11c6deea905d25b487698f1140e0c53396c8
          - 10000
          - 1996128042
          items:
            description: "Parameters passed as an array, where binary values are passed\
              \ as hex"
            type: string
          type: array
        cashaddr:
          example: bchtest:prxla49zwqm8m2nzgn82qza3ssrqnpt8vgv60hlwm2
          type: string
        buyerAddr:
          description: The cashaddress of the buyer
          example: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        arbiterAddr:
          description: The cashaddress of the arbiter
          example: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        sellerAddr:
          description: The cashaddress of the seller
          example: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
        amount:
          description: "Numeric amount to be transferred by the contract in satoshi,\
            \ amount must be less than 21 BCH."
          example: 10000
          type: number
        nonce:
          description: A unique number used once for each instance of a contract.
          example: 1996128042
          type: number
    EscrowContract:
      example:
        escrowContractId: escrowContractId
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          type: string
      required:
      - escrowContractId
    UtxoResponse:
      items:
        $ref: '#/components/schemas/Utxo'
      type: array
    ContractInfoRequest:
      example:
        contractId: contractId
      properties:
        contractId:
          description: |
            serialized contract
          type: string
    ContractInfoResponse:
      example:
        cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        contractId: contractId
        parameters:
        - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
        - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
        - 215
        script: |
          contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
              function transfer(sig recipientSig) {
                  require(checkSig(recipientSig, recipient));
              }

              function timeout(sig senderSig) {
                  require(checkSig(senderSig, sender));
                  require(tx.time >= timeout);
              }
          }
        tokenaddr: bchreg:zpttdv3qg2usm4nm7talhxhl05mlhms3ysjm0q59vu
      properties:
        contractId:
          description: |
            serialized contract
          type: string
        script:
          description: |
            The smart contract in cashscript syntax
          example: |
            contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
                function transfer(sig recipientSig) {
                    require(checkSig(recipientSig, recipient));
                }

                function timeout(sig senderSig) {
                    require(checkSig(senderSig, sender));
                    require(tx.time >= timeout);
                }
            }
          type: string
        parameters:
          description: Parameters passed when the contract was created
          example:
          - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
          - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
          - 215
          items:
            description: "Parameters passed as an array, where binary values are passed\
              \ as hex"
            type: string
          type: array
        cashaddr:
          example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
          type: string
        tokenaddr:
          example: bchreg:zpttdv3qg2usm4nm7talhxhl05mlhms3ysjm0q59vu
          type: string
    Contract:
      example:
        contractId: contractId
      properties:
        contractId:
          description: |
            serialized contract
          type: string
      required:
      - contractId
    GetTestnetBchRequest:
      example:
        cashaddr: bchtest:qqm4gsaa2gvk7flvsvj7f0w4rlq32vqhkq27mxesg8
      properties:
        cashaddr:
          description: Receiver's cashaddr
          type: string
    GetTestnetBchResponse:
      example:
        txId: 132731d90ac4c88a79d55eae2ad92709b415de886329e958cf35fdd81ba34c15
      properties:
        txId:
          description: Transaction id
          type: string
    GetAddressesResponse:
      example:
        bchtest: bchtest:qzxkd5achtj6v46m9vdqv6gj2pvrac5q0qd2qqa2ga
      properties:
        bchtest:
          description: Cashaddr to return testnet BCH
          type: string
    MineRequest:
      example:
        cashaddr: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        blocks: 105
      properties:
        cashaddr:
          example: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
        blocks:
          description: the number of blocks to mine
          example: 105
          type: number
    ConvertRequest:
      example:
        from: bch
        to: usd
        value: 100
      properties:
        value:
          example: 100
          type: number
        from:
          description: Provided value unit of account.
          enum:
          - bch
          - BCH
          - usd
          - USD
          - bit
          - bits
          - sat
          - SAT
          - sats
          - satoshi
          - satoshis
          example: bch
          type: string
        to:
          description: Unit of account to be returned
          enum:
          - bch
          - BCH
          - usd
          - USD
          - bit
          - bits
          - sat
          - SAT
          - sats
          - satoshi
          - satoshis
          example: usd
          type: string
      required:
      - from
      - to
      - value
    getAddrsByXpubKeyRequest:
      example:
        xpubkey: xpub6BosfCnifzxcFwrSzQiqu2DBVTshkCXacvNsWGYJVVhhawA7d4R5WSWGFNbi8Aw6ZRc1brxMyWMzG3DSSSSoekkudhUd9yLb6qx39T9nMdj
        path: 0/0
        count: 3
      properties:
        xpubkey:
          type: string
        path:
          type: string
        count:
          type: number
    getAddrsByXpubKeyResponse:
      example:
      - bitcoincash:qrvcdmgpk73zyfd8pmdl9wnuld36zh9n4gms8s0u59
      - bitcoincash:qp4wzvqu73x22ft4r5tk8tz0aufdz9fescwtpcmhc7
      - bitcoincash:qr0kwqzf2h3wvjjhn4pg895lrxwp96wqgyhkksq2nh
      items:
        $ref: '#/components/schemas/getAddrsByXpubKeyResponse_inner'
      type: array
    getXpubKeyInfoRequest:
      example:
        xpubkey: xpub6BosfCnifzxcFwrSzQiqu2DBVTshkCXacvNsWGYJVVhhawA7d4R5WSWGFNbi8Aw6ZRc1brxMyWMzG3DSSSSoekkudhUd9yLb6qx39T9nMdj
      properties:
        xpubkey:
          type: string
    getXpubKeyInfoResponse:
      example:
        version: mainnet
        depth: 3
        parentFingerprint: 155bca59
        childNumber: "2147483648,"
        chain: 3da4bc190a2680111d31fadfdc905f2a7f6ce77c6f109919116f253d43445219
        data: 03774c910fcf07fa96886ea794f0d5caed9afe30b44b83f7e213bb92930e7df4bd
        fingerprint: 6cc9f252
      properties:
        version:
          type: string
        depth:
          type: number
        parentFingerprint:
          description: the first four bytes of the public key as hex
          type: string
        data:
          description: the public key as hex
          type: string
        chain:
          description: "The chain code, 32 bytes of entrophy extended for the public\
            \ key"
    WalletRequest:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      - $ref: '#/components/schemas/WalletType'
      example:
        type: seed
        network: testnet
        name: username1
      properties:
        name:
          description: User defined string for wallet
          example: username1
          type: string
      type: object
    WalletType:
      discriminator:
        mapping:
          WalletRequest: '#/components/schemas/WalletRequest'
          WalletReplaceNamedRequest: '#/components/schemas/WalletReplaceNamedRequest'
          WalletNamedExistsRequest: '#/components/schemas/WalletNamedExistsRequest'
        propertyName: wallet_type
      properties:
        type:
          description: "Wallet type, either a mnemonic seed single address wallet,\
            \ a simple private key (wif) or a *Hierarchical Deterministic wallet determined\
            \ from a seed (not yet implemented)* ."
          enum:
          - wif
          - hd
          - seed
          - watch
          - privkey
          example: seed
          type: string
    WalletReplaceNamedRequest:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      - $ref: '#/components/schemas/WalletType'
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        name: walletName
      properties:
        name:
          description: User friendly wallet alias
          example: walletName
          type: string
        walletId:
          description: The walletId of the source of funds to spend from.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
      type: object
    WalletNamedExistsRequest:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      - $ref: '#/components/schemas/WalletType'
      example:
        name: walletName
      properties:
        name:
          description: User friendly wallet alias
          example: walletName
          type: string
      type: object
    Wif:
      properties:
        wif:
          description: |
            The wallet in Wallet Import Format (WIF)
          example: cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
    WalletMnemonic:
      discriminator:
        propertyName: seed
      properties:
        seed:
          type: string
        derivationPath:
          type: string
    WalletResponse:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      anyOf:
      - $ref: '#/components/schemas/Wif'
      - $ref: '#/components/schemas/WalletMnemonic'
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        name: username1
      properties:
        walletId:
          description: |
            All the information necessary to reconstruct a wallet, including private information, type and network.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        name:
          description: User defined string for wallet
          example: username1
          type: string
        cashaddr:
          description: |
            The address in cashaddr format.
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
      type: object
    WalletReplaceNamedResponse:
      description: |
        True if operation was successful
        False if service database was not configured or other exception occured
      properties:
        result:
          example: true
          type: boolean
      type: boolean
    WalletNamedExistsResponse:
      description: |
        Boolean true or false
      properties:
        result:
          example: true
          type: boolean
      type: boolean
    SerializedWallet:
      discriminator:
        propertyName: walletId
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
      properties:
        walletId:
          description: |
            ID that is returned in `wallet` field of /wallet call
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
      required:
      - walletId
    WalletInfo:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys0d2lessf
        tokenaddr: bchreg:zpttdv3qg2usm4nm7talhxhl05mlhms3ysjm0q59vu
        isTestnet: true
        name: ""
        network: testnet
        seed: empty solar plunge document bridge announce purse erupt joy vague illegal
          angle
        derivationPath: m/44'/0'/0'/0/0
        publicKey: 04410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a72e8d04d8a1634f35a05d6bd59d20c545e165f5d7dd6043fe3e843e7ec547b6df
        publicKeyHash: 56b6b22042b90dd67bf2fbfb9aff7d37fbee1124
        privateKey: 207efc5233effadd4f2df00410526dc4d0ca901ca8f0b7a1e92a42d3baf14e7f
        privateKeyWif: cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        walletId: wif:testnet:empty solar plunge document bridge announce purse erupt
          joy vague illegal angle:m/44'/0'/0'/0/0
        walletDbEntry: wif:testnet:empty solar plunge document bridge announce purse
          erupt joy vague illegal angle:m/44'/0'/0'/0/0
      properties:
        cashaddr:
          type: string
        tokenaddr:
          type: string
        isTestnet:
          description: Whether the agreed value of the network is zero. True for all
            non-mainnet networks.
          type: boolean
        name:
          type: string
        publicKey:
          type: string
        publicKeyHash:
          type: string
        privateKey:
          type: string
        privateKeyWif:
          type: string
        seed:
          type: string
        derivationPath:
          type: string
        walletId:
          type: string
        walletDbEntry:
[...]
