openapi: 3.0.1
info:
  contact:
    email: hello@mainnet.cash
  description: |
    A developer friendly bitcoin cash wallet api

    This API is currently in *active* development, breaking changes may
    be made prior to official release of version 1.0.0.
  license:
    name: MIT Licence
    url: https://github.com/mainnet-cash/mainnet-js/blob/master/LICENSE
  termsOfService: https://mainnet.cash/terms/
  title: Mainnet Cash
  version: 0.4.6
externalDocs:
  description: Find out more about mainnet-js
  url: https://mainnet.cash
servers:
- description: unstable service (for development)
  url: https://rest-unstable.mainnet.cash/
- description: local development server via `yarn api:serve`
  url: http://localhost:3000/
security:
- bearerAuth: []
tags:
- description: Use Cashscript contracts
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/contract/
  name: contract
- description: Use a stock escrow contract, with some helpers.
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/contract/escrow/
  name: contract/escrow
- description: Testnet faucet
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/faucet/
  name: faucet
- description: Mine regtest coins
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/mine/
  name: mine
- description: Stateless convenience utilities
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/util/
  name: util
- description: Interact with wallets
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/
  name: wallet
- description: Interact with SLP functions of the wallets
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/slp
  name: wallet/slp
- description: Invoke wallet utility functions
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/util
  name: wallet/util
- description: Create webhooks
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/webhook/
  name: webhook
- description: Interact with SmartBch wallets
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/smartbch
  name: smartbch/wallet
- description: Interact with SmartBch SEP20 contract tokens
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/wallet/smartbch/sep20
  name: smartbch/sep20
- description: Interact with SmartBch contracts
  externalDocs:
    description: Find out more
    url: https://rest-unstable.mainnet.cash/api-docs/#/contract/smartbch
  name: smartbch/contract
paths:
  /contract/call:
    post:
      operationId: contractFn
      requestBody:
        content:
          application/json:
            example:
              contractId: testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1996128042
              action: send
              function: timeout
              to:
                unit: sat
                cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
                value: 2000
              feePerByte: 1
            schema:
              $ref: '#/components/schemas/ContractFnRequest'
        description: Request a new cashscript contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFnResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Call a method on a contract
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /contract/create:
    post:
      operationId: createContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractRequest'
        description: Request a new cashscript contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a cashscript contract
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /contract/escrow/create:
    post:
      operationId: createEscrow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowRequest'
        description: Request a new escrow contract from a template
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create an escrow contract
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/escrow/call:
    post:
      operationId: escrowFn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowFnRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFnResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Finalize an escrow contract
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/escrow/info:
    post:
      operationId: escrowInfo
      requestBody:
        content:
          application/json:
            example:
              escrowContractId: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
            schema:
              $ref: '#/components/schemas/EscrowInfoRequest'
        description: Request parsed information regarding a contract from the escrowContractId
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowInfoResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about an escrow contract from the escrowContractId
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/escrow/utxos:
    post:
      description: |
        Returns all UTXOs that can be spent by the
        contract. Both confirmed and unconfirmed UTXOs are included. The endpoint works with contracts generated from templates (i.e. escrow).
      operationId: escrowUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowContract'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: List specific utxos on any escrow contract
      tags:
      - contract/escrow
      x-eov-operation-handler: controllers/ContractEscrowController
  /contract/info:
    post:
      operationId: contractInfo
      requestBody:
        content:
          application/json:
            example:
              contractId: contract:testnet:TURNME1UQmxaakEwT0dJelpHRXpOVEUzT1RObU5tVmtNVFJqWXpKbVpHVTBOakJpWldOak5XSTJOVGhrT1RFek9EUTBNMkk1WVRNd01EQTNNRGRoTm1FMzpNRE0wT1RjNFlXTTBOalJtTXpVNFlqSXpOV1l4TVRJeE1tVmlObVV3TVRkaFpqa3dNakUxWWprd1lqRm1aamMwTnpGa09XRmxNbUZpWWpWbE1Ea3lOak5pOk1qRTE=:Y29udHJhY3QgVHJhbnNmZXJXaXRoVGltZW91dChwdWJrZXkgc2VuZGVyLCBwdWJrZXkgcmVjaXBpZW50LCBpbnQgdGltZW91dCkgewogICAgZnVuY3Rpb24gdHJhbnNmZXIoc2lnIHJlY2lwaWVudFNpZykgewogICAgICAgIHJlcXVpcmUoY2hlY2tTaWcocmVjaXBpZW50U2lnLCByZWNpcGllbnQpKTsKICAgIH0KCiAgICBmdW5jdGlvbiB0aW1lb3V0KHNpZyBzZW5kZXJTaWcpIHsKICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHNlbmRlclNpZywgc2VuZGVyKSk7CiAgICAgICAgcmVxdWlyZSh0eC50aW1lID49IHRpbWVvdXQpOwogICAgfQp9Cg==:1996128042
            schema:
              $ref: '#/components/schemas/ContractInfoRequest'
        description: Request parsed information regarding a contract from the contractId
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInfoResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about a contract from the contractId
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /contract/utxos:
    post:
      description: |
        Returns all UTXOs that can be spent by the
        contract. Both confirmed and unconfirmed UTXOs are included. The endpoint works with contracts generated from templates (i.e. escrow).
      operationId: contractUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: List specific utxos on any contract
      tags:
      - contract
      x-eov-operation-handler: controllers/ContractController
  /faucet/get_testnet_bch:
    post:
      operationId: getTestnetBch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTestnetBchRequest'
        description: |
          Request to bch faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTestnetBchResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet bch
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /faucet/get_testnet_slp:
    post:
      operationId: getTestnetSlp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTestnetSlpRequest'
        description: |
          Request to slp faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTestnetSlpResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet slp tokens
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /faucet/get_testnet_sbch:
    post:
      operationId: getTestnetSbch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTestnetSbchRequest'
        description: |
          Request to bch faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTestnetSbchResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet SmartBCH bch
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /faucet/get_testnet_sep20:
    post:
      operationId: getTestnetSep20
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTestnetSep20Request'
        description: |
          Request to SEP20 faucet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTestnetSep20Response'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get testnet SmartBch SEP20 tokens
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /faucet/get_addresses:
    post:
      operationId: getAddresses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressesResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Get addresses to return back or donate the testnet bch and tokens
      tags:
      - faucet
      x-eov-operation-handler: controllers/FaucetController
  /mine:
    post:
      operationId: mine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MineRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: a list of block hashes
                  type: string
                type: array
          description: request accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Mine regtest coins to a specified address
      tags:
      - mine
      x-eov-operation-handler: controllers/MineController
  /util/convert:
    post:
      operationId: convert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: If a unit of account is passed, a plain number is returned.
                type: number
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: convert between units
      tags:
      - util
      x-eov-operation-handler: controllers/UtilController
  /wallet/create:
    post:
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletRequest'
        description: Request a new random wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: create a new wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/replace_named:
    post:
      operationId: replaceNamed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletReplaceNamedRequest'
        description: Request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletReplaceNamedResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Replace (recover) named wallet with a new walletId.
        If wallet with a provided name does not exist yet, it will be creted with a `walletId` supplied
        If wallet exists it will be overwritten without exception
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/named_exists:
    post:
      operationId: namedExists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletNamedExistsRequest'
        description: Request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletNamedExistsResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Check if a named wallet already exists
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/info:
    post:
      operationId: info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          The wallet to request information about, in serialized form.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: |
            Information about the wallet network, type, and keys
      summary: Get information about a wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/balance:
    post:
      operationId: balance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceRequest'
        description: |
          Request for a wallet balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
            text/plain:
              schema:
                description: If a unit of account is passed, a plain number is returned.
                type: number
          description: successful operation
      summary: Get total balance for wallet
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/max_amount_to_send:
    post:
      operationId: maxAmountToSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaxAmountToSendRequest'
        description: get amount that will be spend with a spend max request. If a
          unit type is specified, a numeric value will be returned.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Get maximum spendable amount
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/deposit_address:
    post:
      operationId: depositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddressResponse'
          description: successful operation
      summary: Get a deposit address in cash address format
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/deposit_qr:
    post:
      operationId: depositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving cash address as a qrcode
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/send:
    post:
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
        description: place a send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some amount to a given address
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/send_max:
    post:
      operationId: sendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMaxRequest'
        description: Request to send all available funds to a given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMaxResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available funds to a given address
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/utxo:
    post:
      operationId: utxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request detailed list of unspent transaction outputs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoResponse'
          description: successful operation
      summary: Get detailed information about unspent outputs (utxos)
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/signed/sign:
    post:
      operationId: signedMessageSign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignedMessageRequest'
        description: |
          Sign a message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedMessageResponse'
          description: successful operation
      summary: Returns the message signature
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/signed/verify:
    post:
      operationId: signedMessageVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignedMessageRequest'
        description: |
          Sign a message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySignedMessageResponse'
          description: successful operation
      summary: Returns a boolean indicating whether message was valid for a given
        address
      tags:
      - wallet
      x-eov-operation-handler: controllers/WalletController
  /wallet/slp/create:
    post:
      operationId: slpCreateWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletRequest'
        description: Request a new SLP wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: create a new SLP wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/genesis:
    post:
      operationId: slpGenesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpGenesisRequest'
        description: |
          Request to create a new SLP token (genesis)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpGenesisResponse'
          description: successful operation
      summary: Get created tokenId back and new slp token balance of the wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/nft_parent_genesis:
    post:
      operationId: nftParentGenesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpGenesisRequest'
        description: |
          Request to create a new NFT parent token (genesis)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpGenesisResponse'
          description: successful operation
      summary: Get created tokenId back and new NFT token balance of the wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/nft_child_genesis:
    post:
      operationId: nftChildGenesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpGenesisRequest'
        description: |
          Request to create a new NFT child token (genesis) by consuming a parent token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpGenesisResponse'
          description: successful operation
      summary: Get created tokenId back and new NFT child token balance of the wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/mint:
    post:
      operationId: slpMint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpMintRequest'
        description: |
          Request to mint more of SLP tokens
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpMintResponse'
          description: successful operation
      summary: Get created tokenId back and new slp token balance of the wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/token_info:
    post:
      operationId: slpTokenInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpTokenInfoRequest'
        description: |
          Request to get information about the token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpTokenInfoResponse'
          description: successful operation
      summary: Get information about the token
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/all_balances:
    post:
      operationId: slpAllBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a wallet slp balances
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpBalanceArrayResponse'
          description: successful operation
      summary: Get all slp balances of the wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/balance:
    post:
      operationId: slpBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpBalanceRequest'
        description: |
          Request for a wallet slp token balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpBalanceResponse'
          description: successful operation
      summary: Get total slp token balance of the wallet
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/deposit_address:
    post:
      operationId: slpDepositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for an SLP deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpDepositAddressResponse'
          description: successful operation
      summary: Get an SLP deposit address in cash address format
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/deposit_qr:
    post:
      operationId: slpDepositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for an SLP deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get an SLP receiving cash address as a qrcode
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/send:
    post:
      operationId: slpSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpSendRequest'
        description: place an SLP send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpSendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some SLP token amount to a given cash address
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/send_max:
    post:
      operationId: slpSendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlpSendMaxRequest'
        description: Request to send all available SLP funds to a given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpSendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available SLP funds to a given address
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/utxo:
    post:
      operationId: slpUtxos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request detailed list of unspent SLP transaction outputs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpUtxoResponse'
          description: successful operation
      summary: Get detailed information about unspent SLP outputs (utxos)
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/slp/outpoints:
    post:
      operationId: slpOutpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request of unspent SLP outpoints
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlpOutpointsResponse'
          description: successful operation
      summary: Get list of unspent SLP outpoints.
      tags:
      - wallet/slp
      x-eov-operation-handler: controllers/WalletSlpController
  /wallet/util/decode_transaction:
    post:
      operationId: utilDecodeTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilDecodeTransactionRequest'
        description: |
          Request to decode a transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilDecodeTransactionResponse'
          description: successful operation
      summary: Decode a bitcoin transaction. Accepts both transaction hash or raw
        transaction in hex format.
      tags:
      - wallet/util
      x-eov-operation-handler: controllers/WalletUtilController
  /webhook/watch_address:
    post:
      operationId: watchAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchAddressRequest'
        description: |
          Based on the 'type' parameter the webhook will be triggered to either post balance or raw transactions to the 'url':
          - 'transaction:in' for incoming BCH transactions
          - 'transaction:out' for outgoing BCH transactions
          - 'transaction:in,out' both for incoming and outgoing BCH transactions
          - 'balance' will post the object according to 'BalanceResponse' schema
          - 'slptransaction:in' for incoming SLP transactions
          - 'slptransaction:out' for outgoing SLP transactions
          - 'slptransaction:in,out' both for incoming and outgoing SLP transactions
          - 'slpbalance' will post the object according to 'SlpBalanceResponse' schema

          'tokenId' parameter is mandatory when using SLP webhooks.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchAddressResponse'
          description: Successful operation
        "405":
          content: {}
          description: Invalid input
      summary: |
        Create a webhook to watch cashaddress balance and transactions.
      tags:
      - webhook
      x-eov-operation-handler: controllers/WebhookController
  /smartbch/wallet/create:
    post:
      operationId: smartbchCreateWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletRequest'
        description: Request a new random wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: create a new wallet
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/balance:
    post:
      operationId: smartbchBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceRequest'
        description: |
          Request for a wallet balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
            text/plain:
              schema:
                description: If a unit of account is passed, a plain number is returned.
                type: number
          description: successful operation
      summary: Get total balance for wallet
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/max_amount_to_send:
    post:
      operationId: smartbchMaxAmountToSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchMaxAmountToSendRequest'
        description: get amount that will be spend with a spend max request. If a
          unit type is specified, a numeric value will be returned.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Get maximum spendable amount
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/deposit_address:
    post:
      operationId: smartbchDepositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchDepositAddressResponse'
          description: successful operation
      summary: Get a deposit address
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/deposit_qr:
    post:
      operationId: smartbchDepositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a deposit cash address as a Quick Response code (qrcode)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get receiving cash address as a qrcode
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/send:
    post:
      operationId: smartbchSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSendRequest'
        description: place a send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some amount to a given address
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/send_max:
    post:
      operationId: smartbchSendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSendMaxRequest'
        description: Request to send all available funds to a given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSendResponseItem'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available funds to a given address
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/signed/sign:
    post:
      operationId: smartbchSignedMessageSign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignedMessageRequest'
        description: |
          Sign a message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedMessageResponse'
          description: successful operation
      summary: Returns the message signature
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/wallet/signed/verify:
    post:
      operationId: smartbchSignedMessageVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignedMessageRequest'
        description: |
          Sign a message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySignedMessageResponse'
          description: successful operation
      summary: Returns a boolean indicating whether message was valid for a given
        address
      tags:
      - smartbch/wallet
      x-eov-operation-handler: controllers/SmartbchWalletController
  /smartbch/sep20/genesis:
    post:
      operationId: smartBchSep20Genesis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSep20GenesisRequest'
        description: |
          Request to create a new SmartBch SEP20 token (genesis)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSep20GenesisResponse'
          description: successful operation
      summary: Get created tokenId back and new SmartBch SEP20 token balance of the
        wallet
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/mint:
    post:
      operationId: smartBchSep20Mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSep20MintRequest'
        description: |
          Request to mint more of SmartBch SEP20 tokens
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSep20MintResponse'
          description: successful operation
      summary: Get created tokenId back and new SmartBch SEP20 token balance of the
        wallet
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/token_info:
    post:
      operationId: smartBchSep20TokenInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSep20TokenInfoRequest'
        description: |
          Request to get information about the SmartBch SEP20 token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSep20TokenInfoResponse'
          description: successful operation
      summary: Get information about the SmartBch SEP20 token
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/balance:
    post:
      operationId: smartBchSep20Balance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSep20BalanceRequest'
        description: |
          Request for a wallet SmartBch SEP20 token balance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSep20BalanceResponse'
          description: successful operation
      summary: Get total SmartBch SEP20 token balance of the wallet
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/deposit_address:
    post:
      operationId: smartBchSep20DepositAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for an SmartBch SEP20 deposit address given a wallet
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchDepositAddressResponse'
          description: successful operation
      summary: Get an SmartBch SEP20 deposit address
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/deposit_qr:
    post:
      operationId: smartBchSep20DepositQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerializedWallet'
        description: |
          Request for a SmartBch SEP20 deposit address as a Quick Response code (qrcode)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalableVectorGraphic'
          description: |
            A Qr code image data encoded string in the src field suitable for inclusion in html using:
               - \<img src\=\"{response.src}"\>
      summary: Get an SmartBch SEP20 receiving address as a qrcode
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/send:
    post:
      operationId: smartBchSep20Send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSep20SendRequest'
        description: place a SmartBch SEP20 token send request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSep20SendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
        "418":
          content: {}
          description: Invalid network for given address
      summary: Send some SmartBch SEP20 token amount to a given address
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/sep20/send_max:
    post:
      operationId: smartBchSep20SendMax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchSep20SendMaxRequest'
        description: Request to send all available SmartBch SEP20 token funds to a
          given address
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchSep20SendResponse'
          description: transaction accepted
        "400":
          content: {}
          description: Invalid Request
      summary: Send all available SmartBch SEP20 token funds to a given address
      tags:
      - smartbch/sep20
      x-eov-operation-handler: controllers/SmartbchSep20Controller
  /smartbch/contract/create:
    post:
      operationId: smartBchContractCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchContractRequest'
        description: Create a SmartBch contractId
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchContractResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a SmartBch contractId
      tags:
      - smartbch/contract
      x-eov-operation-handler: controllers/SmartbchContractController
  /smartbch/contract/call:
    post:
      operationId: smartBchContractCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchContractFnCallRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchContractFnCallResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Call a SmartBch contract function
      tags:
      - smartbch/contract
      x-eov-operation-handler: controllers/SmartbchContractController
  /smartbch/contract/estimate_gas:
    post:
      operationId: smartBchContractEstimateGas
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchContractEstimateGasRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchContractEstimateGasResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Estimate the gas for a contract interaction function given the arguments
      tags:
      - smartbch/contract
      x-eov-operation-handler: controllers/SmartbchContractController
  /smartbch/contract/info:
    post:
      operationId: smartBchContractInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchContractInfoRequest'
        description: Request parsed information regarding a SmartBch contract from
          the smartBchContractId
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchContractInfoResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get information about a SmartBch contract from the contractId
      tags:
      - smartbch/contract
      x-eov-operation-handler: controllers/SmartbchContractController
  /smartbch/contract/deploy:
    post:
      operationId: smartBchContractDeploy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartBchContractDeployRequest'
        description: Request to deploy a SmartBch contract
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartBchContractDeployResponse'
          description: successful operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Request to deploy a SmartBch contract
      tags:
      - smartbch/contract
      x-eov-operation-handler: controllers/SmartbchContractController
components:
  schemas:
    Utxo:
      allOf:
      - $ref: '#/components/schemas/UnitType'
      example:
        utxoId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:21005
        index: 0.8008281904610115
        txId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
        value: 100
      properties:
        index:
          type: number
        txId:
          description: The hash of a transaction
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          type: string
        value:
          example: 100
          type: number
        utxoId:
          description: serialized outpoint
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:21005
          type: string
      required:
      - txId
      - utxoId
      - value
    BalanceRequest:
      allOf:
      - $ref: '#/components/schemas/UnitType'
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
      properties:
        walletId:
          description: |
            The walletId to get a balance for.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
      required:
      - walletId
    BalanceResponse:
      example:
        bch: 1
        sat: 100000000
        usd: 438.02
      properties:
        bch:
          description: Amount in whole Bitcoin Cash
          example: 1
          format: float
          type: number
        sat:
          description: Amount in satoshis
          example: 100000000
          type: integer
        usd:
          description: Amount in United States Dollars
          example: 438.02
          type: number
    Error:
      example:
        message: An server error occurred
        code: 500
      properties:
        message:
          type: string
        code:
          type: number
    WatchAddressRequest:
      example:
        recurrence: recurrent
        cashaddr: bchtest:qzd0tv75gx6y0zspzwqpgkwkq0n72g8fsq2zch26s2
        tokenId: ""
        type: transaction:in,out
        url: http://example.com/webhook
        duration_sec: 86400
      properties:
        cashaddr:
          description: |
            Cash address to watch
          example: bchtest:qzd0tv75gx6y0zspzwqpgkwkq0n72g8fsq2zch26s2
          type: string
        url:
          description: Url to be called when configured action is triggered
          example: http://example.com/webhook
          type: string
        type:
          default: transaction:in,out
          description: Type of watch operation
          enum:
          - transaction:in
          - transaction:out
          - transaction:in,out
          - balance
          - slptransaction:in
          - slptransaction:out
          - slptransaction:in,out
          - slpbalance
          example: transaction:in,out
          type: string
        recurrence:
          default: once
          description: Action recurrence. Indicates if webhook should be triggered
            recurrently until expire or only once
          enum:
          - once
          - recurrent
          example: recurrent
          type: string
        tokenId:
          description: Token unique hexadecimal identifier to use. Mandatory in SLP
            webhooks.
        duration_sec:
          default: 86400
          description: Duration of the webhook lifetime in seconds before it will
            expire.
          example: 86400
          type: number
      required:
      - cashaddr
      - type
      - url
    WatchAddressResponse:
      example:
        id: 1
      properties:
        id:
          description: Webhook Id created in the system
          example: 1
          type: integer
    ZeroBalanceResponse:
      example:
        bch: 0
        sat: 0
        usd: 0
      properties:
        bch:
          description: Amount in whole Bitcoin Cash
          example: 0
          format: float
          type: number
        sat:
          description: Amount in satoshis
          example: 0
          type: integer
        usd:
          description: Amount in United States Dollars
          example: 0
          type: number
    Contract:
      example:
        contractId: contractId
      properties:
        contractId:
          description: |
            serialized contract
          type: string
      required:
      - contractId
    EscrowContract:
      example:
        escrowContractId: escrowContractId
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          type: string
      required:
      - escrowContractId
    EscrowRequest:
      example:
        arbiterAddr: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        amount: 10000
        buyerAddr: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        sellerAddr: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
      properties:
        buyerAddr:
          description: The cashaddress of the buyer
          example: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        arbiterAddr:
          description: The cashaddress of the arbiter
          example: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        sellerAddr:
          description: The cashaddress of the seller
          example: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
        amount:
          description: Numeric amount to be transferred by the contract in satoshi,
            amount must be less than 21 BCH.
          example: 10000
          type: number
      required:
      - amount
      - arbiterAddr
      - buyerAddr
      - sellerAddr
    EscrowResponse:
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        escrowContractId: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          example: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
          type: string
        cashaddr:
          description: The funding address for the escrow contract
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
    ContractRequest:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      example:
        parameters:
        - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
        - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
        - 215
        script: |
          contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
              function transfer(sig recipientSig) {
                  require(checkSig(recipientSig, recipient));
              }

              function timeout(sig senderSig) {
                  require(checkSig(senderSig, sender));
                  require(tx.time >= timeout);
              }
          }
      properties:
        script:
          description: |
            The smart contract in cashscript syntax
          example: |
            contract TransferWithTimeout(pubkey sender, pubkey recipient, int timeout) {
                function transfer(sig recipientSig) {
                    require(checkSig(recipientSig, recipient));
                }

                function timeout(sig senderSig) {
                    require(checkSig(senderSig, sender));
                    require(tx.time >= timeout);
                }
            }
          type: string
        parameters:
          description: Parameters to construct the contract
          example:
          - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
          - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
          - 215
          items:
            description: Parameters passed as an array, where binary values are passed
              as hex
            type: string
          type: array
      required:
      - network
      - parameters
      - script
    ContractResponse:
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        contractId: testnet:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok5EZ3dOVE01TWpreg==:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNS4zOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:480539293
      properties:
        contractId:
          description: |
            serialized contract
          example: testnet:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok5EZ3dOVE01TWpreg==:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNS4zOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:480539293
          type: string
        cashaddr:
          description: The funding address for the contract
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
    ContractFnRequest:
      example:
        minChange: 1.4658129805029452
        feePerByte: 0.8008281904610115
        function: function
        hardcodedFee: 6.027456183070403
        contractId: contractId
        withoutChange: false
        action: send
        arguments:
        - arguments
        - arguments
        to: ""
        utxoIds:
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
        time: 5.637376656633329
        opReturn:
        - opReturn
        - opReturn
        age: 5.962133916683182
      properties:
        contractId:
          description: |
            serialized contract
          type: string
        action:
          default: send
          description: In addition to `send`ing the built transaction, the built transaction
            hex may be returned (without broadcasting) with `build` action, or the
            [`meep 🔗`](https://github.com/gcash/meep) debugger command.
          enum:
          - build
          - send
          - meep
          example: send
          type: string
        function:
          description: Function to call on the cashscript contract.
          type: string
        arguments:
          description: "Arguments for the contract function call as strings.  Binary\
            \ data should be passed as hexidecimal. \nSignatures may be passed as\
            \ wallet import format (WIF) or wallet strings (walletId). Cashscript\
            \ expects `pubkey`s to be compressed 35 byte values.\n"
          items:
            type: string
          type: array
        to:
          anyOf:
          - $ref: '#/components/schemas/SendRequestItem'
          - $ref: '#/components/schemas/SendRequestArray'
          - $ref: '#/components/schemas/CashscriptReceipt'
          - $ref: '#/components/schemas/CashscriptReceiptArray'
          description: The output destination, as a SendRequest, cashscript style
            output(s), array of either.
        utxoIds:
          description: Serialized utxoId(s) to spend from
          items:
            description: The hash of a transaction and index of the utxo and amount
              in satoshi
            example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
            type: string
          type: array
        opReturn:
          description: |
            Add OP_RETURN outputs to the transaction. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withopreturn)
          items:
            type: string
          type: array
        feePerByte:
          description: |
            The withFeePerByte() function allows you to specify the fee per per bytes for the transaction. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withfeeperbyte)
          type: number
        hardcodedFee:
          description: |
            Specify a hardcoded fee to the transaction. By default the transaction fee is automatically calculated by the CashScript SDK. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withhardcodedfee)
          type: number
        minChange:
          description: |
            Set a threshold for including a change output. Any remaining amount under this threshold will be added to the transaction fee instead. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withminchange)
          type: number
        withoutChange:
          default: false
          description: |
            Disable the change output. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withoutchange)
          type: boolean
        age:
          description: |
            Specify the minimum age of the transaction inputs. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withage)
          type: number
        time:
          description: |
            Specify the minimum block number that the transaction can be included in. See [cashscript docs](https://cashscript.org/docs/sdk/transactions#withtime)
          type: number
      required:
      - contractId
      - function
      - to
    EscrowInfoResponse:
      example:
        cashaddr: bchtest:prxla49zwqm8m2nzgn82qza3ssrqnpt8vgv60hlwm2
        arbiterAddr: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        amount: 10000
        escrowContractId: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
        buyerAddr: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        sellerAddr: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
        parameters:
        - 9ef0d8bf4c1f62a68c4c647beb404ec1d458f3c5
        - e7fe7119a6bb73409a087e0ac46cefada815b69f
        - a01c11c6deea905d25b487698f1140e0c53396c8
        - 10000
        - 1996128042
        nonce: 1996128042
        script: "pragma cashscript ^0.6.1;\ncontract escrow(bytes20 sellerPkh, bytes20\
          \ buyerPkh, bytes20 arbiterPkh, int contractAmount, int contractNonce) {\n\
          \n    function spend(pubkey signingPk, sig s, int amount, int nonce) {\n\
          \        require(hash160(signingPk) == arbiterPkh || hash160(signingPk)\
          \ == buyerPkh);\n        require(checkSig(s, signingPk));\n        require(amount\
          \ >= contractAmount);\n        require(nonce == contractNonce);\n      \
          \  bytes34 output = new OutputP2PKH(bytes8(amount), sellerPkh);\n      \
          \  require(hash256(output) == tx.hashOutputs);\n    }\n\n    function refund(pubkey\
          \ signingPk, sig s, int amount, int nonce) {\n        require(hash160(signingPk)\
          \ == arbiterPkh||hash160(signingPk) == sellerPkh);\n        require(checkSig(s,\
          \ signingPk));\n        require(amount >= contractAmount);\n        require(nonce\
          \ == contractNonce);\n        bytes34 output = new OutputP2PKH(bytes8(amount),\
          \ buyerPkh);\n        require(hash256(output) == tx.hashOutputs);\n    }\n\
          }            \n"
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          example: escrowContract:testnet:WW1Ob2RHVnpkRHB4ZWpBd2NHczViR1p6TUdzNVpqVjJaak5xT0dnMk5uRm1iWEZoWjJzNGJtTTFObVZzY1RSa2RqST06WW1Ob2RHVnpkRHB4Y201c2RYVm5aVFUyWVdoNGMzazJjSEJzY1RRemNuWmhOMnMyY3psa2EyNTFOSEExTWpjNFlXZz06WW1Ob2RHVnpkRHB4ZW5Od1kzbDNlRzF0TkdaeGFHWTVhMnB5YTI1eVl6Tm5jbk4yTW5aMWEyVnhlV3B4YkdFd2JuUT06TVRBd01EQT0=:TVRVNExESTBNQ3d5TVRZc01Ua3hMRGMyTERNeExEazRMREUyTml3eE5EQXNOellzTVRBd0xERXlNeXd5TXpVc05qUXNOemdzTVRrekxESXhNaXc0T0N3eU5ETXNNVGszOk1qTXhMREkxTkN3eE1UTXNNalVzTVRZMkxERTROeXd4TVRVc05qUXNNVFUwTERnc01USTJMREV3TERFNU5pd3hNRGdzTWpNNUxERTNNeXd4Tmpnc01qRXNNVGd5TERFMU9RPT06TVRZd0xESTRMREUzTERFNU9Dd3lNaklzTWpNMExERTBOQ3c1TXl3ek55d3hPREFzTVRNMUxERXdOU3d4TkRNc01UY3NOalFzTWpJMExERTVOeXcxTVN3eE5UQXNNakF3Ok1UQXdNREE9Ok1UQTNOVEU0TkRjeU53PT0=:cHJhZ21hIGNhc2hzY3JpcHQgXjAuNi4xOwogICAgICAgICAgICBjb250cmFjdCBlc2Nyb3coYnl0ZXMyMCBzZWxsZXJQa2gsIGJ5dGVzMjAgYnV5ZXJQa2gsIGJ5dGVzMjAgYXJiaXRlclBraCwgaW50IGNvbnRyYWN0QW1vdW50LCBpbnQgY29udHJhY3ROb25jZSkgewoKICAgICAgICAgICAgICAgIGZ1bmN0aW9uIHNwZW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtoIHx8IGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShjaGVja1NpZyhzLCBzaWduaW5nUGspKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGFtb3VudCA+PSBjb250cmFjdEFtb3VudCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShub25jZSA9PSBjb250cmFjdE5vbmNlKTsKICAgICAgICAgICAgICAgICAgICBieXRlczM0IG91dHB1dCA9IG5ldyBPdXRwdXRQMlBLSChieXRlczgoYW1vdW50KSwgc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gyNTYob3V0cHV0KSA9PSB0eC5oYXNoT3V0cHV0cyk7CiAgICAgICAgICAgICAgICB9CgogICAgICAgICAgICAgICAgZnVuY3Rpb24gcmVmdW5kKHB1YmtleSBzaWduaW5nUGssIHNpZyBzLCBpbnQgYW1vdW50LCBpbnQgbm9uY2UpIHsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGhhc2gxNjAoc2lnbmluZ1BrKSA9PSBhcmJpdGVyUGtofHxoYXNoMTYwKHNpZ25pbmdQaykgPT0gc2VsbGVyUGtoKTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKGNoZWNrU2lnKHMsIHNpZ25pbmdQaykpOwogICAgICAgICAgICAgICAgICAgIHJlcXVpcmUoYW1vdW50ID49IGNvbnRyYWN0QW1vdW50KTsKICAgICAgICAgICAgICAgICAgICByZXF1aXJlKG5vbmNlID09IGNvbnRyYWN0Tm9uY2UpOwogICAgICAgICAgICAgICAgICAgIGJ5dGVzMzQgb3V0cHV0ID0gbmV3IE91dHB1dFAyUEtIKGJ5dGVzOChhbW91bnQpLCBidXllclBraCk7CiAgICAgICAgICAgICAgICAgICAgcmVxdWlyZShoYXNoMjU2KG91dHB1dCkgPT0gdHguaGFzaE91dHB1dHMpOwogICAgICAgICAgICAgICAgfQogICAgICAgICAgICB9CiAgICAgICAg:1075184727
          type: string
        script:
          description: |
            The escrow contract in cashscript syntax
          example: "pragma cashscript ^0.6.1;\ncontract escrow(bytes20 sellerPkh,\
            \ bytes20 buyerPkh, bytes20 arbiterPkh, int contractAmount, int contractNonce)\
            \ {\n\n    function spend(pubkey signingPk, sig s, int amount, int nonce)\
            \ {\n        require(hash160(signingPk) == arbiterPkh || hash160(signingPk)\
            \ == buyerPkh);\n        require(checkSig(s, signingPk));\n        require(amount\
            \ >= contractAmount);\n        require(nonce == contractNonce);\n    \
            \    bytes34 output = new OutputP2PKH(bytes8(amount), sellerPkh);\n  \
            \      require(hash256(output) == tx.hashOutputs);\n    }\n\n    function\
            \ refund(pubkey signingPk, sig s, int amount, int nonce) {\n        require(hash160(signingPk)\
            \ == arbiterPkh||hash160(signingPk) == sellerPkh);\n        require(checkSig(s,\
            \ signingPk));\n        require(amount >= contractAmount);\n        require(nonce\
            \ == contractNonce);\n        bytes34 output = new OutputP2PKH(bytes8(amount),\
            \ buyerPkh);\n        require(hash256(output) == tx.hashOutputs);\n  \
            \  }\n}            \n"
          type: string
        parameters:
          description: Parameters passed when the contract was created
          example:
          - 9ef0d8bf4c1f62a68c4c647beb404ec1d458f3c5
          - e7fe7119a6bb73409a087e0ac46cefada815b69f
          - a01c11c6deea905d25b487698f1140e0c53396c8
          - 10000
          - 1996128042
          items:
            description: Parameters passed as an array, where binary values are passed
              as hex
            type: string
          type: array
        cashaddr:
          example: bchtest:prxla49zwqm8m2nzgn82qza3ssrqnpt8vgv60hlwm2
          type: string
        buyerAddr:
          description: The cashaddress of the buyer
          example: bchtest:qrnluuge56ahxsy6pplq43rva7k6s9dknu4p5278ah
        arbiterAddr:
          description: The cashaddress of the arbiter
          example: bchtest:qzspcywxmm4fqhf9kjrknrc3grsv2vukeqyjqla0nt
        sellerAddr:
          description: The cashaddress of the seller
          example: bchtest:qz00pk9lfs0k9f5vf3j8h66qfmqagk8nc56elq4dv2
        amount:
          description: Numeric amount to be transferred by the contract in satoshi,
            amount must be less than 21 BCH.
          example: 10000
          type: number
        nonce:
          description: A unique number used once for each instance of a contract.
          example: 1996128042
          type: number
    EscrowInfoRequest:
      example:
        escrowContractId: escrowContractId
      properties:
        escrowContractId:
          description: |
            serialized escrow contract
          type: string
    EscrowFnRequest:
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        escrowContractId: escrowContractId
        function: spend
        action: build
        to: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        utxoIds:
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
        - 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
      properties:
        escrowContractId:
          description: |
            serialized contract
          type: string
        walletId:
          description: |
            The walletId of the transaction signer.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        function:
          description: Function to call on the escrow contract.
          enum:
          - spend
          - refund
          example: spend
          type: string
        to:
          description: Output address for the transaction
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
        action:
          description: In addition to `send`ing the built transaction, the built transaction
            hex may be returned (without broadcasting) with `build` action, or the
            [`meep 🔗`](https://github.com/gcash/meep) debugger command
          enum:
          - build
          - send
          - meep
          type: string
        utxoIds:
          items:
            description: The hash of a transaction and index of the utxo and amount
              in satoshi
            example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:1000
            type: string
          type: array
      required:
      - escrowContractId
      - function
      - walletId
    ContractFnResponse:
      example:
        debug: |
          meep debug --tx=0200000001b3f2d1ce4951d104e8244310943c49cd8ea59b437fa5b794197fcffc32cfc28900000000b941b0e8a077ea6d70c757487a14c175c9ed21a5f4f54d0477578ac3bc89da86cbb5567f62eb9b46c49c328f02165a54a577cc4228fd2dd5a5497fc25a638f0205b1412103410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7514c5202d70014a72d8e8dc9ca261e8ffafba96514ee92b0c2bf271456b6b22042b90dd67bf2fbfb9aff7d37fbee11245379009c63557a5579ad547aa97b8777777767537a519d547a5479ad537aa9887cb16d5168feffffff0268420000000000001976a91456b6b22042b90dd67bf2fbfb9aff7d37fbee112488ac720e00000000000017a914d411d850ed6395e6e72a5e0497a54ab99a75b84387d7000000 --idx=0 --amt=21000 --pkscript=a914d411d850ed6395e6e72a5e0497a54ab99a75b84387
        contractId: contractId
        txId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
        hex: 0200000001f6d804c0a2f33936dd8b535d1... bdf0e43b30135be5251
      properties:
        contractId:
          description: |
            serialized contract
          type: string
        txId:
          description: The hash of a transaction
          example: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          type: string
        hex:
          description: The transaction as bitcoin encoded hex.
          example: 0200000001f6d804c0a2f33936dd8b535d1... bdf0e43b30135be5251
          type: string
        debug:
          description: if a debugger action is passed in the request, the result will
            return here.
          example: |
            meep debug --tx=0200000001b3f2d1ce4951d104e8244310943c49cd8ea59b437fa5b794197fcffc32cfc28900000000b941b0e8a077ea6d70c757487a14c175c9ed21a5f4f54d0477578ac3bc89da86cbb5567f62eb9b46c49c328f02165a54a577cc4228fd2dd5a5497fc25a638f0205b1412103410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7514c5202d70014a72d8e8dc9ca261e8ffafba96514ee92b0c2bf271456b6b22042b90dd67bf2fbfb9aff7d37fbee11245379009c63557a5579ad547aa97b8777777767537a519d547a5479ad537aa9887cb16d5168feffffff0268420000000000001976a91456b6b22042b90dd67bf2fbfb9aff7d37fbee112488ac720e00000000000017a914d411d850ed6395e6e72a5e0497a54ab99a75b84387d7000000 --idx=0 --amt=21000 --pkscript=a914d411d850ed6395e6e72a5e0497a54ab99a75b84387
          type: string
    ContractInfoRequest:
      example:
        contractId: contractId
      properties:
        contractId:
          description: |
            serialized contract
          type: string
    ContractInfoResponse:
      example:
        cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
        contractId: contractId
        parameters:
        - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
        - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
        - 215
        script: "contract TransferWithTimeout(pubkey sender, pubkey recipient, int\
          \ timeout) {\n    function transfer(sig recipientSig) {\n        require(checkSig(recipientSig,\
          \ recipient));\n    }\n\n    function timeout(sig senderSig) {\n       \
          \ require(checkSig(senderSig, sender));\n        require(tx.time >= timeout);\n\
          \    }\n}            \n"
      properties:
        contractId:
          description: |
            serialized contract
          type: string
        script:
          description: |
            The smart contract in cashscript syntax
          example: "contract TransferWithTimeout(pubkey sender, pubkey recipient,\
            \ int timeout) {\n    function transfer(sig recipientSig) {\n        require(checkSig(recipientSig,\
            \ recipient));\n    }\n\n    function timeout(sig senderSig) {\n     \
            \   require(checkSig(senderSig, sender));\n        require(tx.time >=\
            \ timeout);\n    }\n}            \n"
          type: string
        parameters:
          description: Parameters passed when the contract was created
          example:
          - 03410ef048b3da351793f6ed14cc2fde460becc5b658d9138443b9a3000707a6a7
          - 034978ac464f358b235f11212eb6e017af90215b90b1ff7471d9ae2abb5e09263b
          - 215
          items:
            description: Parameters passed as an array, where binary values are passed
              as hex
            type: string
          type: array
        cashaddr:
          example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
          type: string
    ScalableVectorGraphic:
      example:
        src: data:image/svg+xml;base64,PD94bWwgdm... ==**
        alt: A Bitcoin Cash Qr Code
        title: bitcoincash:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
      properties:
        src:
          description: |
            A Qr code image data in svg format as utf-8 encoded string.
            Suitable for inclusion in html using:
                - \<img src\=\"**data:image/svg+xml;base64,PD94bWwgdm... ==**"\>
          example: data:image/svg+xml;base64,PD94bWwgdm... ==**
          type: string
        title:
          description: hover text for graphic
          example: bitcoincash:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
        alt:
          description: assistive text
          example: A Bitcoin Cash Qr Code
          type: string
    SendMaxRequest:
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        cashaddr: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
      properties:
        walletId:
          description: |
            The walletId of the sender
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        cashaddr:
          example: bchtest:qpalhxhl05mlhms3ys43u76rn0ttdv3qg2usm4nm7t
          type: string
        options:
          $ref: '#/components/schemas/SendRequestOptions'
      required:
      - cashaddr
      - walletId
    MaxAmountToSendRequest:
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        output_count: 0
      properties:
        walletId:
          description: |
            ID that is returned in `wallet` field of /wallet call
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        output_count:
          description: "(optional) if sending all funds to multiple addresses, the\n\
            count of the number of address funds will be sent\nto may be included.\
            \            \n"
          format: int32
          type: integer
      required:
      - walletId
    SerializedWallet:
      discriminator:
        propertyName: walletId
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
      properties:
        walletId:
          description: |
            ID that is returned in `wallet` field of /wallet call
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
      required:
      - walletId
    DepositAddressResponse:
      example:
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
      properties:
        cashaddr:
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
    UtxoResponse:
      example:
        utxos:
        - utxoId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:21005
          index: 0.8008281904610115
          txId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          value: 100
        - utxoId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f:0:21005
          index: 0.8008281904610115
          txId: 1e6442a0d3548bb4f917721184ac1cb163ddf324e2c09f55c46ff0ba521cb89f
          value: 100
      properties:
        utxos:
          items:
            $ref: '#/components/schemas/Utxo'
          type: array
    WalletResponse:
      allOf:
      - $ref: '#/components/schemas/NetworkEnum'
      anyOf:
      - $ref: '#/components/schemas/Wif'
      - $ref: '#/components/schemas/WalletMnemonic'
      example:
        walletId: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
        cashaddr: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        slpaddr: slptest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys5edyr8z5
        name: username1
      properties:
        walletId:
          description: |
            All the information necessary to reconstruct a wallet, including private information, type and network.
          example: wif:testnet:cNfsPtqN2bMRS7vH5qd8tR8GMvgXyL5BjnGAKgZ8DYEiCrCCQcP6
          type: string
        name:
          description: User defined string for wallet
          example: username1
          type: string
        cashaddr:
          description: |
            The address in cashaddr format.
          example: bchtest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
        slpaddr:
          description: |
            The SLP address of the wallet in cashaddr format.
          example: slptest:qpttdv3qg2usm4nm7talhxhl05mlhms3ys5edyr8z5
          type: string
      type: object
    MineRequest:
      example:
        cashaddr: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
        blocks: 105
      properties:
        cashaddr:
          example: bchreg:qpttdv3qg2usm4nm7talhxhl05mlhms3ys43u76rn0
          type: string
        blocks:
          description: the number of blocks to mine
          example: 105
          type: number
    ConvertRequest:
      example:
        from: bch
        to: usd
        value: 100
      properties:
        value:
          example: 100
[...]
