name: CI

on:
  push:
    branches:
      - master
      - feature/*
      - fix/*
      - bugfix/*
      - develop
  pull_request:
    branches:
      - master
env:
  ALICE_TESTNET_ADDRESS: ${{ secrets.ALICE_TESTNET_ADDRESS }}
  ALICE_TESTNET_WALLET_ID: ${{ secrets.ALICE_TESTNET_WALLET_ID }}
  BOB_TESTNET_ADDRESS: ${{ secrets.BOB_TESTNET_ADDRESS }}
  BOB_TESTNET_WALLET_ID: ${{ secrets.BOB_TESTNET_WALLET_ID }}
  CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
  FAUCET_CASHADDR: ${{ secrets.FAUCET_CASHADDR }}
  FAUCET_WIF: ${{ secrets.FAUCET_WIF }}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Validate Specification
        run: yarn api:validate
      # Pat 07.09.21: This step's build products are ignored, commenting out
      # - name: Generate Mock Client
      #   run: yarn api:build:ts-mock
      - name: Generate Server
        run: yarn api:build:server
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update generated
          branch: ${{ github.ref }}

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: "22.x"
      - name: Format
        run: |
          yarn
          yarn format
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply formatting changes
          branch: ${{ github.ref }}

  test_browsers:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: "22.x"
    - run: yarn
    - run: yarn test:browser
  test_node:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: "22.x"
    - run: yarn
    - run: yarn test
  test_rest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: "22.x"
    - run: yarn
    - run: yarn test:rest
  coverage:
    if: false
    name: coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '22.x'
    - run: yarn
    - run: yarn build
    - uses: paambaati/codeclimate-action@v2.5.7
      with:
        coverageCommand: yarn coverage
        debug: true