name: CI

on:
  push:
    branches:
      - master
      - feature/*
      - bugfix/*
      - develop
  pull_request:
    branches:
      - master
env:
  ALICE_TESTNET_ADDRESS: ${{ secrets.ALICE_TESTNET_ADDRESS }}
  ALICE_TESTNET_WALLET_ID: ${{ secrets.ALICE_TESTNET_WALLET_ID }}
  BOB_TESTNET_ADDRESS: ${{ secrets.BOB_TESTNET_ADDRESS }}
  BOB_TESTNET_WALLET_ID: ${{ secrets.BOB_TESTNET_WALLET_ID }}
  CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
  FAUCET_CASHADDR: ${{ secrets.FAUCET_CASHADDR }}
  FAUCET_WIF: ${{ secrets.FAUCET_WIF }}
  FAUCET_SLP_CASHADDR: ${{ secrets.FAUCET_SLP_CASHADDR }}
  FAUCET_SLP_WIF: ${{ secrets.FAUCET_SLP_WIF }}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Validate Specification
        uses: 2qx/codegen-docker-action@v1.1
        with:
          args: |
            validate -i swagger/v1/api.yml
      - name: Generate Mock Client
        uses: 2qx/codegen-docker-action@v1.1
        with:
          args: |
            generate -i swagger/v1/api.yml -g typescript-node -o generated/client/typescript-mock
      - name: Generate Server
        uses: 2qx/codegen-docker-action@v1.1
        with:
          args: |
            generate -i swagger/v1/api.yml -g nodejs-express-server -o generated/serve
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4.11.0
        with:
          commit_message: Update generated
          branch: ${{ github.ref }}

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Format
        run: |
          yarn
          yarn format
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4.11.0
        with:
          commit_message: Apply formatting changes
          branch: ${{ github.ref }}

  test_browsers:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: "14.x"
    - uses: microsoft/playwright-github-action@v1
    - run: yarn
    - run: yarn test:browser
  test_node:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: "14.x"
    - run: yarn
    - run: yarn test
  test_rest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: "14.x"
    - run: yarn
    - run: yarn test:api
  coverage:
    name: coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '14'
    - run: yarn
    - run: yarn build
    - uses: paambaati/codeclimate-action@v2.5.7
      with:
        coverageCommand: yarn coverage
        debug: true